.light {
  --main-bg-color: #FBFBFB;
  --main-title-color: #333333;
  --main-descr-title-color: #333333;
  --main-descr-subtitle-color: #4F4F4F;
  --main-margin-top: 5px;
  --main-padding-top: 55px;
  --side-menu-active-border-color: #FBFBFB;
  --side-menu-arrow-up-color: #828282;
  --side-menu-arrow-down-color: #333333;
}

.dark {
  --main-bg-color: #4F4F4F;
  --main-title-color: #FEFEFE;
  --main-descr-title-color: #FEFEFE;
  --main-descr-subtitle-color: #F2F2F2;
  --main-margin: 0;
  --main-padding-top: 60px;
  --side-menu-active-border-color: #4F4F4F;
  --side-menu-arrow-up-color: #828282;
  --side-menu-arrow-down-color: #333333;
}

/* Header style start*/
.header {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
          box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
}

.nav-header__list {
  margin-top: 5px;
}

/* Header style end*/
/* main start*/
.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.videos {
  max-width: 41.15vw;
  width: 100%;
  margin-right: 30px;
}

@media only screen and (max-width: 1200px) {
  .videos {
    max-width: 43.8vw;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .videos {
    max-width: 77.65vw;
    margin-bottom: 53px;
  }
}

@media only screen and (max-width: 320px) {
  .videos {
    max-width: 205px;
    margin-bottom: 32px;
  }
}

.videos__main {
  margin-bottom: 30px;
}

@media only screen and (max-width: 640px) {
  .videos__main {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .videos__main {
    margin-bottom: 12px;
  }
}

.videos__wrapper {
  margin: 0 auto;
  position: relative;
}

.videos__cap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.videos__carusel {
  margin-bottom: 30px;
  width: 100%;
}

@media only screen and (max-width: 320px) {
  .videos__carusel {
    margin-bottom: 20px;
  }
}

.videos__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.videos__slide {
  width: 100%;
  margin-right: 1.4vw;
  min-width: 31%;
}

@media only screen and (max-width: 1200px) {
  .videos__slide {
    margin-right: 1.5vw;
  }
}

@media only screen and (max-width: 640px) {
  .videos__slide {
    margin-right: 2.4vw;
  }
}

@media only screen and (max-width: 320px) {
  .videos__slide {
    min-width: 48%;
  }
}

.videos__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C4C4C4;
  margin-right: 5px;
}

.videos__dot:hover {
  cursor: pointer;
}

.videos__dot:last-child {
  margin-right: 0px;
}

.videos__dot--active {
  width: 11px;
  height: 11px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}

.side-menu__wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 640px) {
  .side-menu__wrapper {
    top: 94px;
  }
}

.side-menu__content {
  height: 511px;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .side-menu__content {
    height: 438px;
  }
}

@media only screen and (max-width: 640px) {
  .side-menu__content {
    height: 330px;
  }
}

@media only screen and (max-width: 320px) {
  .side-menu__content {
    height: 200px;
  }
}

.side-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu__item {
  position: relative;
  width: 108px;
  height: 108px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .side-menu__item {
    width: 96px;
    height: 96px;
  }
}

@media only screen and (max-width: 640px) {
  .side-menu__item {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 320px) {
  .side-menu__item {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
}

.side-menu__item--active {
  width: 157px;
  height: 157px;
  background: url("../../../assets/images/desktopLight/zoos_page/side-menu/active-background.svg") no-repeat center;
}

@media only screen and (max-width: 1200px) {
  .side-menu__item--active {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 640px) {
  .side-menu__item--active {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 320px) {
  .side-menu__item--active {
    width: 65px;
    height: 65px;
  }
}

.side-menu__item--active .side-menu__img {
  max-width: 145px;
  border: 7px solid var(--side-menu-active-border-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px) {
  .side-menu__item--active .side-menu__img {
    width: 115px;
    height: 115px;
  }
}

@media only screen and (max-width: 640px) {
  .side-menu__item--active .side-menu__img {
    width: 85px;
    height: 85px;
    border: 4px solid var(--side-menu-active-border-color);
  }
}

@media only screen and (max-width: 320px) {
  .side-menu__item--active .side-menu__img {
    width: 60px;
    height: 60px;
    border: 4px solid var(--side-menu-active-border-color);
  }
}

.side-menu__item--active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background: linear-gradient(to right, #07eee0, #df496d);
}

.side-menu__item:hover:not(.side-menu__item--active) {
  cursor: pointer;
}

.side-menu__up-arrow {
  width: 23px;
  height: 23px;
  margin-bottom: 20px;
}

.side-menu__up-arrow:hover {
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .side-menu__up-arrow {
    margin-bottom: 10px;
  }
}

.side-menu__down-arrow {
  width: 23px;
  height: 23px;
  margin-top: 20px;
}

.side-menu__down-arrow:hover {
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .side-menu__down-arrow {
    margin-top: 10px;
  }
}

.side-menu__up-arr {
  fill: var(--side-menu-arrow-up-color);
}

.side-menu__down-arr {
  fill: var(--side-menu-arrow-down-color);
}

.main {
  background-color: var(--main-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: var(--main-padding-top);
  margin-top: var(--main-margin-top);
  height: calc(850px + var(--main-padding-top));
}

@media only screen and (max-width: 1200px) {
  .main {
    height: calc(655px + var(--main-padding-top));
  }
}

@media only screen and (max-width: 640px) {
  .main {
    height: calc(922px + 60px);
    margin-top: 94px;
    padding-top: 60px;
  }
}

@media only screen and (max-width: 320px) {
  .main {
    height: calc(651px + 33px);
    margin-top: 94px;
    padding-top: 33px;
  }
}

.main__side-menu {
  width: 210px;
  margin-right: 7.8vw;
}

@media only screen and (max-width: 1200px) {
  .main__side-menu {
    margin-right: 4.42vw;
    width: 178px;
  }
}

@media only screen and (max-width: 640px) {
  .main__side-menu {
    width: 103px;
    margin-left: 7px;
  }
}

@media only screen and (max-width: 320px) {
  .main__side-menu {
    margin-right: 24px;
  }
}

.main__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

@media only screen and (max-width: 640px) {
  .main__title {
    margin-bottom: 35px;
    line-height: 8.75vw;
    font-size: 7.5vw;
    margin-left: 7px;
  }
}

@media only screen and (max-width: 320px) {
  .main__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    margin-left: 5px;
  }
}

.main__the-zoo {
  max-width: 1200px;
  width: 1200px;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__right-side {
  max-width: 380px;
}

@media only screen and (max-width: 1200px) {
  .main__right-side {
    max-width: 21vw;
  }
}

@media only screen and (max-width: 640px) {
  .main__right-side {
    max-width: 77.65vw;
  }
}

@media only screen and (max-width: 320px) {
  .main__right-side {
    max-width: 63.6vw;
  }
}

.main__description {
  max-width: 380px;
  margin-bottom: 35px;
}

@media only screen and (max-width: 1200px) {
  .main__description {
    margin-bottom: 21px;
    max-width: initial;
  }
}

@media only screen and (max-width: 640px) {
  .main__description {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .main__description {
    margin-bottom: 17px;
  }
}

.main__descr-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-descr-title-color);
  margin-bottom: 6px;
}

@media only screen and (max-width: 320px) {
  .main__descr-title {
    font-size: 14px;
    line-height: 16px;
  }
}

.main__descr-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-descr-subtitle-color);
  margin-bottom: 13px;
}

@media only screen and (max-width: 1200px) {
  .main__descr-subtitle {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 640px) {
  .main__descr-subtitle {
    margin-bottom: 13px;
  }
}

@media only screen and (max-width: 320px) {
  .main__descr-subtitle {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 17px;
  }
}

.main__button {
  width: 194px;
  height: 55px;
}

@media only screen and (max-width: 1200px) {
  .main__button {
    width: 15.5vw;
  }
}

@media only screen and (max-width: 640px) {
  .main__button {
    width: 185px;
  }
}

/* main end*/
/* footer start */
@media only screen and (max-width: 1200px) {
  .contact-us__title {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 320px) {
  .contact-us__title {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .form__label {
    margin-bottom: 15px;
  }
}

/*footer end*/
/*# sourceMappingURL=live-broadcast.css.map */