/* Header style start*/
.header {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
          box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
}

.header__wrapper {
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 150px;
}

@media only screen and (max-width: 639px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 15px;
  }
}

.header__radio {
  width: 54px;
  height: 30px;
}

.header__radio img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__burger {
  display: none;
  position: relative;
  width: 40px;
  height: 21px;
}

@media only screen and (max-width: 639px) {
  .header__burger {
    display: block;
    margin-right: 26px;
  }
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-header__item {
  margin-right: 83px;
}

.nav-header__item:last-child {
  margin-right: 0px;
}

.nav-header__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.nav-header__link:hover:not(.nav-header__link--active), .nav-header__link:focus:not(.nav-header__link--active), .nav-header__link:active:not(.nav-header__link--active) {
  opacity: .75;
  cursor: pointer;
}

.nav-header__link--active {
  text-decoration: underline;
  font-weight: 900;
  cursor: default;
  pointer-events: none;
}

.logo-header {
  width: 59px;
  height: 63px;
}

.logo-header__link {
  text-decoration: none;
}

.logo-header__online {
  display: block;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: #333333;
}

.logo-header__zoo {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.logo-header__text {
  width: 59px;
  height: 42px;
}

/* Header style end*/
/* main start*/
.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.videos {
  max-width: 790px;
  width: 100%;
  margin-right: 30px;
}

.videos__main {
  margin-bottom: 30px;
}

.videos__wrapper {
  margin: 0 auto;
  position: relative;
}

.videos__cap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.videos__carusel {
  margin-bottom: 30px;
  width: 100%;
}

.videos__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videos__slide {
  width: 100%;
  margin-right: 27px;
  min-width: 31%;
}

.videos__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C4C4C4;
  margin-right: 5px;
}

.videos__dot:hover {
  cursor: pointer;
}

.videos__dot:last-child {
  margin-right: 0px;
}

.videos__dot--active {
  width: 11px;
  height: 11px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}

.side-menu__wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu__content {
  height: 511px;
  overflow: hidden;
}

.side-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu__item {
  position: relative;
  width: 108px;
  height: 108px;
  margin-bottom: 10px;
}

.side-menu__item--active {
  width: 157px;
  height: 157px;
  background: url("/assets/images/desktopLight/zoos_page/side-menu/active-background.svg") no-repeat center;
}

.side-menu__item--active .side-menu__img {
  max-width: 145px;
  border: 7px solid #FBFBFB;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.side-menu__item--active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background: linear-gradient(to right, #07eee0, #df496d);
}

.side-menu__item:hover:not(.side-menu__item--active) {
  cursor: pointer;
}

.side-menu__up-arrow {
  width: 23px;
  height: 23px;
  margin-bottom: 20px;
}

.side-menu__up-arrow:hover {
  cursor: pointer;
}

.side-menu__down-arrow {
  width: 23px;
  height: 23px;
  margin-top: 20px;
}

.side-menu__down-arrow:hover {
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  height: 910px;
}

.main__side-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 210px;
  margin-right: 151px;
}

.main__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin-bottom: 40px;
}

.main__the-zoo {
  max-width: 1200px;
  width: 1200px;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__right-side {
  max-width: 380px;
}

.main__description {
  max-width: 380px;
  margin-bottom: 35px;
}

.main__descr-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 6px;
}

.main__descr-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  margin-bottom: 13px;
}

/* main end*/
/* footer start */
.footer {
  background: #333333;
}

.footer__wrapper {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

@media only screen and (max-width: 639px) {
  .footer__wrapper {
    padding-top: 50px;
    margin: 0 10px;
    -ms-grid-rows: auto;
    -ms-grid-columns: auto;
        grid-template: auto / auto;
        grid-template-areas: 'logo' 'nav' 'contact-us' 'zoo-centre' 'button' 'copyrights';
  }
}

@media only screen and (min-width: 640px) {
  .footer__wrapper {
    padding-top: 96px;
    margin: 0 20px;
    -ms-grid-columns: auto fit-content(191px) auto;
        grid-template-columns: auto fit-content(191px) auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'logo button button'  'nav nav .' 'contact-us contact-us .' 'zoo-centre zoo-centre .' 'copyrights copyrights copyrights';
  }
}

@media only screen and (min-width: 1200px) {
  .footer__wrapper {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto 225px auto auto;
        grid-template-rows: auto 225px auto auto;
    -webkit-column-gap: 76px;
            column-gap: 76px;
    margin: 0 150px;
    padding-top: 100px;
        grid-template-areas: 'logo nav'  'contact-us zoo-centre' 'contact-us button' 'copyrights copyrights';
  }
}

@media only screen and (min-width: 1900px) {
  .footer__wrapper {
    -ms-grid-rows: auto auto auto;
    -ms-grid-columns: auto auto auto;
        grid-template: auto auto auto / auto auto auto;
        grid-template-areas: 'logo nav button' 'contact-us zoo-centre .' 'copyrights copyrights copyrights';
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

.footer__logo {
  grid-area: logo;
}

.footer__logo .logo__bg {
  background: url("/assets/images/global/logo/logo-white.svg") no-repeat center;
}

@media only screen and (max-width: 639px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 640px) {
  .footer__logo {
    margin-bottom: 19px;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__logo {
    margin-bottom: 57px;
    width: 59px;
    height: 54px;
  }
}

.footer__contact-us {
  grid-area: contact-us;
}

@media only screen and (max-width: 639px) {
  .footer__contact-us {
    width: 100%;
    margin-bottom: 54px;
  }
}

@media only screen and (min-width: 640px) {
  .footer__contact-us {
    margin-bottom: 77px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__contact-us {
    width: 383px;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__contact-us {
    margin-bottom: 60px;
    margin-right: 441px;
  }
}

.footer__nav {
  grid-area: nav;
  padding-top: 17px;
}

@media only screen and (max-width: 639px) {
  .footer__nav {
    margin-bottom: 47px;
  }
  .footer__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 640px) {
  .footer__nav {
    margin-bottom: 55px;
  }
  .footer__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__nav .nav__list {
    width: 440px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__nav .nav__item {
    margin-right: 73px;
  }
  .footer__nav .nav__item:last-child {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__nav {
    margin-right: 112px;
    margin-bottom: 74px;
  }
  .footer__nav .nav__list {
    max-width: 404px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__nav .nav__item {
    max-width: 404px;
    margin-right: 73px;
  }
  .footer__nav .nav__item:last-child {
    margin-right: 0px;
  }
}

.footer__nav .nav__item:last-child {
  margin-right: 0px;
}

.footer__nav .nav__item .active {
  text-decoration: underline;
  font-weight: 900;
}

.footer__zoo-centre {
  grid-area: zoo-centre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 639px) {
  .footer__zoo-centre {
    margin-bottom: 46px;
  }
}

@media only screen and (min-width: 640px) {
  .footer__zoo-centre {
    margin-bottom: 71px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__zoo-centre {
    margin-bottom: 40px;
  }
}

.footer__button {
  grid-area: button;
  width: 275px;
}

@media only screen and (max-width: 639px) {
  .footer__button {
    margin-bottom: 80px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (min-width: 640px) {
  .footer__button {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__button {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__button {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer__copyrights {
  grid-area: copyrights;
  border-top: 0.5px solid #FEFEFE;
}

@media only screen and (max-width: 639px) {
  .footer__copyrights .copyrights__body {
    padding: 28px 0;
  }
}

@media only screen and (min-width: 640px) {
  .footer__copyrights .copyrights__body {
    padding: 28px 0 48px 0;
  }
}

/*footer end*/
/*# sourceMappingURL=live-broadcast.css.map */