@import "../../common/scss/path.scss";
/* variables start */
.light {
    --header-bg-color: #ffffff;

    --main-bg-color: #FBFBFB;
    --main-title-color: #333333;
    --main-subtitle-color: #4F4F4F;
    --main-container-margin: 5px auto 0;
    --main-container-padding: 55px 0 100px 0;

    --map-slider-active-border-color: #FBFBFB;
    --map-slider-arr-color: #828282;
    
    --footer-bg-color: #333333; 
}

.dark {
    --main-bg-color: #4F4F4F;
    --main-title-color: #FEFEFE;
    --main-subtitle-color: #F2F2F2;
    --main-container-margin: 0 auto;
    --main-container-padding: 60px 0 100px 0;

    --map-slider-active-border-color: #4F4F4F;
    --map-slider-arr-color: #F2F2F2;
}
/* variables end */

/* Header style start*/
.header {
    // box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
    .nav-header {
        &__list {
            margin-top: 0;
        }      
    }
    &__radio {
        @media only screen and (max-width: 640px){
            margin-right: 33px;
        }
        @media only screen and (max-width: 320px){
            margin-right: 25px;
        } 
    }
   
}

/* Header style end*/

/* main start*/
.map-slider {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 36px;
        max-width: 1200px;
        @media only screen and (max-width: 1200px) {
            margin-bottom: 25px;
            max-width: 800px;
        }
        @media only screen and (max-width: 640px) {
            max-width: 600px;
        }
        @media only screen and (max-width: 320px) {
            max-width: 280px;
            margin-bottom: 21px;
        }
    }
    &__wrapper {
        max-width: 1140px;
        overflow: hidden;
        @media only screen and (max-width: 1200px) {
            max-width: 720px;
        }
        @media only screen and (max-width: 790px) {
            max-width: 596px;
        }
        @media only screen and (max-width: 640px) {
            max-width: 540px;
        }
        @media only screen and (max-width: 600px) {
            max-width: 413px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__slide {
        min-width: 108px;
        margin: 0 15px;
        position: relative;
        @media only screen and (max-width: 640px) {
            margin: 0px 10px;
        }
        @media only screen and (max-width: 320px) {
            min-width: 60px;
        }
        &--active {
            min-width: 157px;
            height: 157px;
            margin: 0 5px;
            @media only screen and (max-width: 640px) {
                margin: 0;
            }
            @media only screen and (max-width: 320px) {
                margin: 0 7.5px;
                min-width: 85px;
                height: 85px;
            }
            .map-slider__img {
                max-width: 151px;
                border: 7px solid var(--map-slider-active-border-color);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @media only screen and (max-width: 320px) {
                    width: 75px;
                    height: 75px;
                    border: 2px solid var(--map-slider-active-border-color);
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                border-radius: 50%; 
                background: linear-gradient(to right,rgba(7, 238, 224, 1), rgba(223, 73, 109, 1));
            }
        }
        &:hover {
            cursor: pointer;
        }
    }

    &__left-arrow {
        width: 30px;
        height: 30px;
        &:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }

    &__right-arrow {
        width: 30px;
        height: 30px;
        &:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }

    &__arr-color {
        fill: var(--map-slider-arr-color);
    }
    &__counter {
        margin-bottom: 75px;
        @media only screen and (max-width: 1200px) {
            margin-bottom: 50px;
        }
        @media only screen and (max-width: 640px) {
            margin-bottom: 32px;
        }
    }
    &__count {
        margin-bottom: 5px;
    }
}

.main {
    background-color: var(--main-bg-color);
    &__container {
        max-width: 1200px;
        margin: var(--main-container-margin);
        padding: var(--main-container-padding);
        @media only screen and (max-width: 1200px) {
            max-width: 800px;
        }
        @media only screen and (max-width: 640px) {
            padding-top: calc(60px + 94px);
            padding-bottom: 80px;
            max-width: 600px;
        }
        @media only screen and (max-width: 320px) {
            padding-top: calc(35px + 94px);
            max-width: 300px;
            padding-bottom: 60px;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: var(--main-title-color);
        margin-bottom: 20px;
        @media only screen and (max-width: 640px) {
            font-size: 7.5vw;
            line-height: 8.75vw;
        }
        @media only screen and (max-width: 320px) {
            font-size: 24px;
            line-height: 28px;  
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: var(--main-subtitle-color);
        max-width: 790px;
        margin: 0 auto 54px;
        @media only screen and (max-width: 1200px) {
            margin: 0 5px 36px;
        }
        @media only screen and (max-width: 640px) {
            margin: 0 auto 36px;
            max-width: 93.8vw;
        }
        @media only screen and (max-width: 320px) {
            font-size: 12px;
            line-height: 14px;
            max-width: 280px;
            margin: 0 auto;
            margin-bottom: 38px;
        }
    }

    &__map {
        margin-bottom: 42px;
        height: 498px;
        margin: 0 auto;
        margin-bottom: 48px;
        @media only screen and (max-width: 1200px) {
            max-width: 800px;
            height: 388px;
            margin-bottom: 35px;
        }
        @media only screen and (max-width: 640px) {
            max-width: 600px;
            height: 290px;
            margin-bottom: 38px;
        }
        @media only screen and (max-width: 320px) {
            max-width: 300px;
            height: 146px;
            margin-bottom: 38px;
        }
    }


    &__button {
        margin: 0 auto;
    }
}

/* main end*/

/* footer start */
/* footer end */