/* Header style start*/
.header {
    box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
    
    &__wrapper {
        height: 96px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 150px;

    }

    &__container {
        @media only screen and (max-width: 639px) {
           display: flex;
           align-items: center;
           justify-content: flex-end;
           padding-top: 15px;
        }
    }

    &__radio {
        width: 54px;
        height: 30px;
        img {
            object-fit: cover;
        }
        
    }

    &__burger {
        display: none;
        position: relative;
        width: 40px;
        height: 21px;
        @media only screen and (max-width: 639px) {
            display: block;
            margin-right: 26px;
        }
    }
 
}

.nav-header {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 83px;
        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        &:hover:not(.nav-header__link--active), &:focus:not(.nav-header__link--active), &:active:not(.nav-header__link--active) {
            opacity: .75;
            cursor: pointer;
        }
        &--active {
            text-decoration: underline;
            font-weight: 900;
            cursor: default;
        }
    }
    
}

.logo-header {
    width: 59px;
    height: 63px;
    &__link {
        text-decoration: none;
    }

    &__online {
        display: block;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.08em;
        color: #333333;
    }

    &__zoo {
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #333333;
    }

    &__text {
        width: 59px;
        height: 42px;
    }
}

/* Header style end*/

/* main start*/

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000000;

    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.videos {
    max-width: 790px;
    width: 100%;
    margin-right: 30px;
    &__main {
        margin-bottom: 30px;
    }

    &__wrapper {
        margin: 0 auto;
        position: relative;
    }

    &__cap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__carusel {
        margin-bottom: 30px;
        width: 100%;
    }

    &__slides {
        display: flex;
    }

    &__slide {
        width: 100%;
        margin-right: 27px;
        min-width: 31%;
    }

    &__dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #C4C4C4;
        margin-right: 5px;
        &:hover {
            cursor: pointer;
        }
        &:last-child {
            margin-right: 0px;
        }
        &--active {
            width: 11px;
            height: 11px;
            background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
        }
    }
}

.side-menu {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        height: 511px;
        overflow: hidden;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item {
        position: relative;
        width: 108px;
        height: 108px;
        margin-bottom: 10px;
        &--active {
            width: 157px;
            height: 157px;
            background: url('/assets/images/desktopLight/zoos_page/side-menu/active-background.svg') no-repeat center;
            .side-menu__img {
                max-width: 145px;
                border: 7px solid #FBFBFB;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &:before {
                content: '';
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                border-radius: 50%; 
                background: linear-gradient(to right,rgba(7, 238, 224, 1), rgba(223, 73, 109, 1));
            }
        }
        &:hover:not(.side-menu__item--active) {
            cursor: pointer;
        }
    }

    &__up-arrow {
        width: 23px;
        height: 23px;
        margin-bottom: 20px;
        &:hover {
            cursor: pointer;
        }
    }

    &__down-arrow {
        width: 23px;
        height: 23px;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
        }
    }
}

.main {
    display: flex;
    margin-top: 60px;
    height: 910px;
    &__side-menu {
        position: sticky;
        top: 0;
        width: 210px;
        margin-right: 151px;
    }   

    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        color: #333333;
        margin-bottom: 40px;
    }

    &__the-zoo {
        max-width: 1200px;
        width: 1200px;
    }

    &__content {
        display: flex;
        width: 100%;
    }

    &__right-side {
        max-width: 380px;
    }

    &__description {
        max-width: 380px;
        margin-bottom: 35px;
    }

    &__descr-title {
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: #333333;
        margin-bottom: 6px;
    }

    &__descr-subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4F4F4F;
        margin-bottom: 13px;
    }

}


/* main end*/

/* footer start */

.footer {
    background: #333333;

    &__wrapper {
        margin: 0 auto;
        display: grid;
        @media only screen and (max-width: 639px) {
            padding-top: 50px;
            margin: 0 10px;
            grid-template: auto / auto;
            grid-template-areas: 
                'logo'
                'nav'
                'contact-us'
                'zoo-centre'
                'button'
                'copyrights'
            ;
        } 
        @media only screen and (min-width: 640px) {
            padding-top: 96px;
            margin: 0 20px;
            grid-template-columns: auto fit-content(191px) auto;
            grid-template-rows: auto auto;
            grid-template-areas: 
                'logo button button' 
                'nav nav .'
                'contact-us contact-us .'
                'zoo-centre zoo-centre .'
                'copyrights copyrights copyrights'
            ;
        } 
        @media only screen and (min-width: 1200px) {
            grid-template-columns: auto auto;
            grid-template-rows: auto 225px auto auto;
            column-gap: 76px;
            margin: 0 150px;
            padding-top: 100px;
            grid-template-areas: 
                'logo nav' 
                'contact-us zoo-centre'
                'contact-us button'
                'copyrights copyrights'
            ;
        } 
        @media only screen and (min-width: 1900px){
            grid-template: auto auto auto / auto auto auto;
            grid-template-areas: 
                'logo nav button'
                'contact-us zoo-centre .'
                'copyrights copyrights copyrights'
            ;
            column-gap: 0px;
        }
    }
    &__logo {
        grid-area: logo;
        .logo__bg {
            background: url('/assets/images/global/logo/logo-white.svg') no-repeat center;
        }
        @media only screen and (max-width: 639px) {
            margin-bottom: 30px;
        } 
        @media only screen and (min-width: 640px) {
            margin-bottom: 19px;
        } 
        @media only screen and (min-width: 1200px) {

        } 
        @media only screen and (min-width: 1900px){
            margin-bottom: 57px;
            width: 59px;
            height: 54px;
        }
    }

    &__contact-us {
        grid-area: contact-us;
        @media only screen and (max-width: 639px) {
            width: 100%;
            margin-bottom: 54px;
        } 
        @media only screen and (min-width: 640px) {
            margin-bottom: 77px;
        } 
        @media only screen and (min-width: 1200px) {
            width: 383px;
            margin-bottom: 64px;
        } 
        @media only screen and (min-width: 1900px){
            margin-bottom: 60px;
            margin-right: 441px;
        }
    }

    &__nav {
        grid-area: nav;
        padding-top: 17px;
        @media only screen and (max-width: 639px) {
            margin-bottom: 47px;
            .nav__list {
                flex-direction: column;
            }
        } 
        @media only screen and (min-width: 640px) {
            margin-bottom: 55px;
            .nav__list {
                flex-direction: column;
            }
        } 
        @media only screen and (min-width: 1200px) {
            .nav__list {
                width: 440px;
                flex-direction: row;
            }
            .nav__item {
                margin-right: 73px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        } 
        @media only screen and (min-width: 1900px){
            margin-right: 112px;
            margin-bottom: 74px;
            .nav__list {
                max-width: 404px;
                flex-direction: row;
            }
            .nav__item {
                max-width: 404px;
                margin-right: 73px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    
        .nav__item {
            &:last-child {
                margin-right: 0px;
            }
            .active {
                text-decoration: underline;
                font-weight: 900;
            }
        }
    }

    &__zoo-centre {
        grid-area: zoo-centre;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 639px) {
            margin-bottom: 46px;
        }
        @media only screen and (min-width: 640px) {
            margin-bottom: 71px;
        } 
        @media only screen and (min-width: 1200px) {
            margin-bottom: 40px;
        } 
        @media only screen and (min-width: 1900px){
        
        }
    }
    
    &__button {
        grid-area: button;
        width: 275px;
        @media only screen and (max-width: 639px) {
            margin-bottom: 80px;
            justify-self: center
        } 
        @media only screen and (min-width: 640px) {
            justify-self: end;
        } 
        @media only screen and (min-width: 1200px) {
            justify-self: start;
        } 
        @media only screen and (min-width: 1900px){
            justify-self: end;
        }
    }

    &__copyrights {
        grid-area: copyrights;
        border-top: 0.5px solid #FEFEFE;
        @media only screen and (max-width: 639px) {
            .copyrights__body {
                padding: 28px 0;
            }
        } 
        @media only screen and (min-width: 640px) {
            .copyrights__body {
                padding: 28px 0 48px 0;
            }
        } 
        @media only screen and (min-width: 1200px) {

        } 
        @media only screen and (min-width: 1900px){
        
        }
    }

}

/*footer end*/