@import "../../common/scss/path.scss";
/* colors start */
.light {
    /* landing start */
    --how-it-work-bg-color: #ffffff;
    --how-it-work-title: #333333;
    --how-it-work-text: #4F4F4F;

    --intro-bg-color: #ffffff;

    --inspiring-bg-color: #F2F2F2;
    --inspiring-title: #333333;
    --inspiring-descr: #333333;
    
    --pets-in-zoo-bg-color: #ffffff;
    --pets-in-zoo-title: #333333;
    --pets-in-zoo-descr: #FFFFFF;
    --pets-in-zoo-left-arrow-color: #333333;
    --pets-in-zoo-right-arrow-color: #333333;
    

    --pay-and-feed-bg-color: #F2F2F2;
    --pay-and-feed-title: #333333;
    --pay-and-feed-descr: #4F4F4F;
    --pay-and-feed-card-title: #4F4F4F;

    --testimonials-bg-color: #ffffff;
    --testimonials-title: #333333;
    --testimonials-slide-bg: #FEFEFE;
    --testimonials-slide-title: #333333;
    --testimonials-slide-descr: #4F4F4F;
    --testimonials-slider-left-arrow-color: #333333;
    --testimonials-slider-right-arrow-color: #333333;

    --map-bg-color: #F2F2F2;
    --map-title-color: #333333;
    /* landing end */
}

.dark {
    --how-it-work-bg-color: #333333;
    --how-it-work-title: #FEFEFE;
    --how-it-work-text: #F2F2F2;

    --intro-bg-color: #ffffff;

    --inspiring-bg-color: #4F4F4F;
    --inspiring-title: #FEFEFE;
    --inspiring-descr: #F2F2F2;

    --pets-in-zoo-bg-color: #333333;
    --pets-in-zoo-title: #FEFEFE;
    --pets-in-zoo-descr: #FFFFFF;
    --pets-in-zoo-left-arrow-color: #FEFEFE;
    --pets-in-zoo-right-arrow-color: #FEFEFE;

    --pay-and-feed-bg-color: #4F4F4F;
    --pay-and-feed-title: #FEFEFE;
    --pay-and-feed-descr: #F2F2F2;
    --pay-and-feed-card-title: #FEFEFE;

    --testimonials-bg-color: #333333;
    --testimonials-title: #FEFEFE;
    --testimonials-slide-bg: #3C3C3C;
    --testimonials-slide-title: #FEFEFE;
    --testimonials-slide-descr: #F2F2F2;
    --testimonials-slider-left-arrow-color: #828282;
    --testimonials-slider-right-arrow-color: #FEFEFE;;

    --map-bg-color: #4F4F4F;
    --map-title-color: #FEFEFE;
}

/* colors end */

/* Header style start*/
.header {
    background-color: var(--header-bg-color);
    &__radio {
        width: 54px;
        height: 30px;
        img {
            object-fit: cover;
        }
        @media only screen and (max-width: 320px) {
            margin-right: 25px;
        }
    }
}

/* Header style end*/

/* intro style start*/

.info-item {
    position: relative;
    margin: 0 23px;
    transition: width 2s linear;
    @media only screen and (max-width: 1200px) {
        margin: 0 1.25vw;
    }
    @media only screen and (max-width: 640px) {
        margin: 0 2.5vw;
    }
    @media only screen and (max-width: 320px) {
        margin: 0 4.5px;
    }
    // &:last-child {
    //     margin-right: 0px;
    // }
    &__actions {
        display: flex;
        @media only screen and (max-width: 320px) {
            flex-direction: column;
        } 
    }
    &__photo {
        width: 140px;
        transition: width 1s;
        @media only screen and (max-width: 1200px) {
            width: 180px;
        } 
        @media only screen and (max-width: 640px) {
            width: 180px;
            // min-width: 113px;
        }  
        @media only screen and (max-width: 320px) {
            width: 113px;
        } 
    }
    &__info {
        display: none;
        position: absolute;
        left: 24px;
        bottom: 44px;
        width: 194px;
        @media only screen and (max-width: 1200px) {
            left: 23px;
            bottom: 33px;
        }
        @media only screen and (max-width: 320px) {
            width: 126px;
            left: 8px;
            bottom: 11px;
        }
    }
    &__description {
        color: #FFFFFF;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 14px;
        @media only screen and (max-width: 320px) {
            margin-bottom: 6px;
            width: 126px;
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__watch {
        margin-right: 10px;
        @media only screen and (max-width: 320px) {
            width: 99px;
        }
        @media only screen and (max-width: 320px) {
            margin-bottom: 6px;
        }
    }
    &__donate {
        @media only screen and (max-width: 320px) {
            width: 65px;
        }
    }
}

.intro {
    height: 940px;
    position: relative;
    background: url($path+'/assets/images/landing/intro/intro-bg.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    @media only screen and (max-width: 1200px) {
        background: url($path+'/assets/images/landing/intro/intro-bg-1200.png') no-repeat center;
        background-size: cover;
        height: 926px;
    }
    @media only screen and (max-width: 640px) {
        height: 934px;
        margin-top: 94px;
    }
    @media only screen and (max-width: 320px) {
        height: 669px;
    } 

    
    &__wrapper {
        margin-left: 360px;
        margin-bottom: 20px;
        @media only screen and (max-width: 1200px) {
            margin-left: 12.5vw;
        } 
        @media only screen and (max-width: 640px) {
            margin-left: 22px;
        }
        @media only screen and (max-width: 320px) {
            margin-left: 9px;
        }
    }

    &__title {
        max-width: 793px;
        margin: 0;
        margin-bottom: 37px;
        margin-top: 206px;
        padding: 0;
        border: 0;
        font-weight: 900;
        font-size: 89px;
        line-height: 104px;
        color: #FEFEFE;
        @media only screen and (max-width: 1200px) {
            margin-top: 127px;
            font-size: 7.4vw;
        }
        @media only screen and (max-width: 640px) {
            font-size: 10vw;
            line-height: 75px;
            margin-top: 18.5vw;
            margin-bottom: 5.8vw;
        }
        @media only screen and (max-width: 320px) {
            font-size: 48px;
            line-height: 56px;
            margin-top: 89px;
            margin-bottom: 16px;
        }
    }

    &__slider-wrapper {
        position: absolute;
        min-width: 1087px;
        min-height: 430px;
        left: 43.7vw;
        top: 418px;
        overflow: hidden;
        background: url($path+'/assets/images/landing/intro/slider/line.svg') no-repeat left 170px;
        @media only screen and (max-width: 1200px) {
            background-position: left 180px;
            left: initial;
            top: 432px;
            right: -378px;
        } 
        @media only screen and (max-width: 640px) {
            left: 20vw;
            top: 408px;
            background-position: left 180px;
        }
        @media only screen and (max-width: 320px) {
            left: 3px;
            top: 272px;
            // background-position: left 100px;
        }  
    }

    &__slider-bg {
        display: flex;
        width: 100%;
        position: absolute;
        height: 13px;
        background-color: transparent;
        left: 0;
        top: 39.6%;
        @media only screen and (max-width: 1200px) {
            top: 42%;
        } 
        @media only screen and (max-width: 640px) {
        }
        @media only screen and (max-width: 320px) {
        }  
    }

    &__slider-dot {
        padding: 0px 8.4%;
        height: 13px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 1px solid var(--intro-bg-color);
        }
        &::after {
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--intro-bg-color);
            transform: translateY(-50%);
        }
    }

    &__slider {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 355px;
        position: relative;
        left: 130px;
        @media only screen and (max-width: 1200px) {
        } 
        @media only screen and (max-width: 640px) {
            left: -16px;
        }
        @media only screen and (max-width: 320px) {
            left: -5px;
        }
    }

    &__slider-inner {
        position: absolute;
        left: 167px;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1200px) {
            left: 210px;
        } 
        @media only screen and (max-width: 640px) {
            left: 0px;
        }
    }

    &__item {
        transition: all .2s linear;
        &--active {
            .info-item__photo {
                width: 245px;
                @media only screen and (max-width: 640px) {
                    width: 245px;
                }   
                @media only screen and (max-width: 320px) {
                    width: 140px;
                }
            }
            .info-item__info {
                display: block;
            }
        }
        &:hover:not(.intro__item--active) {
           cursor: pointer;
            .info-item__info {
                display: block;
                @media only screen and (max-width: 640px) {
                    width: 245px;
                }  
            }
            .info-item__photo {
                width: 245px;
                @media only screen and (max-width: 320px) {
                    width: 140px;
                }
            }
        }
    }

    &__counter {
        position: absolute;
        top: 361px;
        left: 325px;
        width: 245px;
        margin: 0;
        text-align: center;
        @media only screen and (max-width: 1200px) {
            top: 377px;
            left: 347px;
        } 
        @media only screen and (max-width: 640px) {
            top: 377px;
            left: 10px;
            overflow: hidden;
        }
        @media only screen and (max-width: 320px) {
            width: 140px;
            top: 84vw;
            left: 47vw;
        }
    }

    &__count {
        margin-bottom: 5px;
        @media only screen and (max-width: 320px) {
            margin-bottom: -2px;
        }
    }

    &__current {
        color: #FEFEFE;
    }

    &__total {
        color: #BDBDBD;
    }

    &__range {
        -webkit-appearance: none;
        background: rgba(189, 189, 189, 0.57);
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            background: #FEFEFE;
            @media only screen and (max-width: 320px) {
                width: 17px;
            }
        }
        &::-moz-range-thumb {
            background: #FEFEFE;
            @media only screen and (max-width: 320px) {
                width: 17px;
            }
        }
        @media only screen and (max-width: 320px) {
            width: 140px;
        }
    }
    
    &__social-networks {
        position: absolute;
        top: 722px;
        left: 152px;

        .social-networks__list {
            flex-direction: column;
        }

        .social-networks__item {
            margin-bottom: 12px;
        }

        @media only screen and (max-width: 1200px) {
            top: 747px;
            left: 12.5vw;
        } 

        @media only screen and (max-width: 640px) {
            left: 20px;
            top: 726px;
        } 

        @media only screen and (max-width: 320px) {
            display: none;
        } 
    }


}

/* intro style end*/

/* how_it_works start*/

.how-it-works {
    background-color: var(--how-it-work-bg-color);
    &__content {
        max-width: 790px;
        margin: 0 auto;
        padding: 100px 0;
        @media only screen and (max-width: 1200px) {
            max-width: 746px;
            margin: 0 19vw;
        } 
        @media only screen and (max-width: 640px) {
            max-width: 600px;
            margin: 0 20px;
            padding: 100px 0 68px 0;
        } 
        @media only screen and (max-width: 320px) {
            max-width: 300px;
            padding: 50px 0;
            margin: 0 10px;
        }
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        color: var(--how-it-work-title);
        margin-bottom: 30px;
        @media only screen and (max-width: 320px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 20px;
        }
    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: var(--how-it-work-text);
        margin-bottom: 30px;
        @media only screen and (max-width: 1200px) {
            margin-bottom: 14px;
        } 
        @media only screen and (max-width: 640px) {
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 320px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__slider {
        &-wrapper {
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 25px;
            @media only screen and (max-width: 640px) {
                max-width: 600px;
            }
            @media only screen and (max-width: 320px) {
                margin-bottom: 13px
            }
        }
        &-inner {
            display: flex;
        }
        &-counter {
            text-align: center;
            margin-bottom: 30px;
            @media only screen and (max-width: 320px) {
                margin-bottom: 20px;
            }
        }
    }
    &__slide {
        min-width: 100%;
    }

    &__slide-img {
        height: 323px;
        @media only screen and (max-width: 640px) {
            max-width: initial;
            width: initial;
        }
        @media only screen and (max-width: 320px) {
            object-fit: contain;
        }
    }

    /* how-it-works counter start */
    &__counter {
        @media only screen and (max-width: 320px) {
            margin-bottom: 20px;
        }
    }

    &__count {
        margin-bottom: 7px;
    }

    &__range {
        &::-webkit-slider-thumb {
            width: 62px;
            height: 10px;
        }

        &::-moz-range-thumb {
            width: 62px;
            height: 10px;
        }

        @media only screen and (max-width: 1200px) {
            &::-webkit-slider-thumb {
                width: 80px;
            }

            &::-moz-range-thumb {
                width: 80px;
            }
        } 
    }
    /* how-it-works counter end */

    &__button {
        margin: 0 auto;
    }
}

/* how_it_works end*/

/* inspiring start */

.inspiring {
    background-color: var(--inspiring-bg-color);
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        padding: 5.5vw 18.7vw 6.9vw 18.7vw;
        @media only screen and (max-width: 1200px) {
            grid-column-gap: 20px;
            padding: 8.8vw 12.5vw 9.5vw 12.5vw;
        }
        @media only screen and (max-width: 640px) {
            grid-template-columns: 1fr;
            padding: 16.5vw 27.5vw 15.5vw;
            grid-row-gap: 56px;
        }
        @media only screen and (max-width: 320px) {
            grid-template-columns: 1fr;
            padding: 50px 10px;
            grid-row-gap: 30px;
        }
    }

    &__card {
        grid-column: span 1;
        &-pic {
            display: flex;
            justify-content: center;
            width: 80px;
            margin: 0 auto;
            margin-bottom: 9px;
            @media only screen and (max-width: 320px) {
                margin-bottom: 15px;
            }
        }
        &-title {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: var(--inspiring-title);
            margin-bottom: 15px;
        }
        &-descr {
            color: var(--inspiring-descr);
            font-size: 14px;
            line-height: 16px;
        }
    }
}

/* inspiring end */

/* pets_in_Zoo start*/
.pets-in-zoo {
    background-color: var(--pets-in-zoo-bg-color);
    &__wrapper {
        padding: 100px 0;
        @media only screen and (max-width: 320px) {
            padding: 100px 0 50px 0;
        }
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: var(--pets-in-zoo-title);
        margin-bottom: 35px;
        @media only screen and (max-width: 320px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 30px;
        }
    }
    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        @media only screen and (max-width: 640px) {
            margin: 0 20px;
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 320px) {
            margin: 0 10px;
            margin-bottom: 25px;
        }
        &-wrapper {
            overflow: hidden;
            max-width: 1200px;
            @media only screen and (max-width: 1200px) {
               max-width: 900px;
            }
            @media only screen and (max-width: 640px) {
                max-width: 600px;
            }
            @media only screen and (max-width: 320px) {
                max-width: 300px;
            }
        }
        &-inner {
            display: inline-flex;
            transition: all .5s linear;
        }
        &-left-arrow {
            margin-right: 20px;
            width: 30px;
            right: 30px;
            @media only screen and (max-width: 640px) {
                display: none;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
        &-left-arrow-color {
            fill: var(--pets-in-zoo-left-arrow-color);
        }
        &-right-arrow {
            width: 30px;
            right: 30px;
            margin-left: 20px;
            @media only screen and (max-width: 640px) {
                display: none;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
        &-right-arrow-color {
            fill: var(--pets-in-zoo-right-arrow-color);
        }
        &-counter {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__slide {
        position: relative;
        margin-right: 30px;
        @media only screen and (max-width: 1200px) {
            margin-right: 20px;
        }
        // &:last-child {
        //     margin-right: 0px;
        // }
        &--active {
            .pets-in-zoo__info {
                opacity: 1;
                bottom: 46px;
                left: 22px;
                @media only screen and (max-width: 1200px) {
                    bottom: 35px;
                    left: 8px;
                }
                @media only screen and (max-width: 320px) {
                    bottom: 34px;
                }
            }
        }
        &:hover {
            .pets-in-zoo__photo {
                filter: brightness(70%);
            }
            .pets-in-zoo__info {
                opacity: 1;
                bottom: 46px;
                left: 22px;
                @media only screen and (max-width: 1200px) {
                    bottom: 35px;
                    left: 8px;
                }
                @media only screen and (max-width: 320px) {
                    bottom: 39px;
                }
            } 
        }
    }

    &__photo {
        min-width: 278px;
        @media only screen and (max-width: 1200px) {
            min-width: 210px;
        }
    }

    &__info {
        opacity: 0;
        position: absolute;
        bottom: 20px;
        left: 22px;
        width: 194px;
        transition: all .5s linear;
    }
    &__description {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: var(--pets-in-zoo-descr);
        margin-bottom: 14px;
    }
    &__actions {
        display: flex;
    }
    &__watch {
        margin-right: 10px;  
    }

    &__counter {
        @media only screen and (max-width: 640px) {
            margin-bottom: 35px;
        }
        @media only screen and (max-width: 320px) {
            margin-bottom: 25px;
        } 
    }

    &__button {
        margin: 0 auto;
    }
}

/* pets_in_Zoo end*/

/* pay_and_feed start */
.pay-and-feed {
    background-color: var(--pay-and-feed-bg-color);
    &__wrapper {
        padding: 100px 0;
        @media only screen and (max-width: 320px) {
            padding: 50px 0;
        }
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: var(--pay-and-feed-title);
        margin-bottom: 30px;
        @media only screen and (max-width: 640px) {
            margin-bottom: 16px;
        }
        @media only screen and (max-width: 320px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 25px;
        }
    }
    &__descr {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 92px;
        color: var(--pay-and-feed-descr);
        @media only screen and (max-width: 1200px) {
            margin-bottom: 50px;
        }
        @media only screen and (max-width: 640px) {
            margin: 0 50px 45px;
        }
        @media only screen and (max-width: 320px) {
            display: none;
        } 
    }
    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        @media only screen and (max-width: 1200px) {
            margin-bottom: 51px;
        }
        @media only screen and (max-width: 640px) {
            flex-direction: column;
            margin-bottom: 0;
        }
        &-arrow {
            width: 106px;
            height: 2px;
            margin-right: 3.3vw;
            background-image: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
            position: relative;
            &::before {
                position: absolute;
                content: '';
                background-image: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
                width: 15px;
                height: 2px;
                transform: rotate(-135deg);
                right: -4px;
                top: -5px;
                @media only screen and (max-width: 640px) {
                    top: -3px;
                    width: 10px;
                }
            }
            &::after {
                position: absolute;
                content: '';
                background-image: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
                width: 15px;
                height: 2px;
                transform: rotate(-45deg);
                right: -4px;
                bottom: -5px;
                @media only screen and (max-width: 640px) {
                    bottom: -3px;
                    width: 10px;
                }
            }
            @media only screen and (max-width: 1200px) {
                max-width: 48px;
                margin-right: 1.4vw;
            }
            @media only screen and (max-width: 640px) {
                transform: rotate(90deg);
                margin-bottom: 52px;
                margin-right: 0;
                width: 40px;
            }
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 3.3vw;
        width: 245px;
        height: 245px;
        border: 3px solid #4BD8CB;
        border-radius: 50%;
        @media only screen and (max-width: 1200px) {
            margin-right: 1.4vw;
            width: 20.5vw;
            height: 20.5vw;
        }
        @media only screen and (max-width: 640px) {
            width: 245px;
            height: 245px;
            margin: 0;
            margin-bottom: 47px;
        }
        &-pic {
            padding: 10px;
        }
        &-title {
            width: 136px;
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.1px;
            color: var(--pay-and-feed-card-title);
            @media only screen and (max-width: 1200px) {
                font-size: 1.65vw;
                width: 11.4vw;
                letter-spacing: 0.3px;
            }  
            @media only screen and (max-width: 640px) {
                font-size: 20px;
                width: 136px;
            } 
        }

        &:last-child {
            margin-right: 0px;
        }
    }

    &__button {
        margin: 0 auto;
    }
}
/* pay_and_feed end */

/* Testimonials start */

.testimonials {
    background-color: var(--testimonials-bg-color);
    padding: 100px 0;
    @media only screen and (max-width: 640px) {
        padding: 100px 0;  
    }
    @media only screen and (max-width: 320px) {
        padding: 45px 0 50px 0;  
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: var(--testimonials-title);
        margin-bottom: 50px;
        @media only screen and (max-width: 640px) {
            margin-bottom: 32px; 
        }
        @media only screen and (max-width: 320px) {
            font-size: 36px;
            line-height: 42px;  
            margin-bottom: 24px;
        }   
    }
    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        @media only screen and (max-width: 640px) {
            margin-bottom: 38px;  
            justify-content: flex-start;
        } 
        @media only screen and (max-width: 320px) {
            margin-bottom: 23px;  
        }
        &-wrapper {
            overflow: hidden;
            max-width: 64vw;
            height: 340px;
            @media only screen and (max-width: 1200px) {
                max-width: 77.5vw; 
            } 
            @media only screen and (max-width: 640px) { 
                max-width: 97vw; 
            }
            @media only screen and (max-width: 320px) {
                max-width: 310px;
                height: 393px;
            }      
        }
        &-inner {
            display: inline-flex;
            align-items: center;
            height: 100%; 
            padding-left: 13px;
            @media only screen and (max-width: 640px) {
                padding-left: 4vw;  
            }
            @media only screen and (max-width: 320px) {
                padding-left: 13px;  
            }
        }
        &-right-arrow {
            width: 30px;
            height: 30px;
            margin-left: 3px;
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
            @media only screen and (max-width: 640px) {
                display: none;
            }
        }
        &-right-arrow-color {
            fill: var(--testimonials-slider-right-arrow-color);
        }
        &-left-arrow {
            width: 30px;
            height: 30px;
            margin-right: 7px;
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
            @media only screen and (max-width: 640px) {
                display: none;
            }
        }
        &-left-arrow-color {
            fill: var(--testimonials-slider-left-arrow-color);
        }
        &-counter {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__slide {
        width: 30.5vw;
        height: 310px;
        background: var(--testimonials-slide-bg);
        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
        border-radius: 5px;
        margin-right: 1.55vw;
        @media only screen and (max-width: 1200px) {
            width: 36.7vw; 
            margin-right: 1.67vw;
        } 
        @media only screen and (max-width: 640px) {
            width: 91.5vw;
            margin-right: 20px;
        }
        @media only screen and (max-width: 320px) {
            height: 360px;
            max-width: 305px;
        }
        &-pic-container {
            width: 68px;
            height: 68px;
            margin: 47px auto 17px auto;
            border: 1px solid #BDBDBD;
            border-radius: 50%;
            @media only screen and (max-width: 1200px) {
                margin-bottom: 13px;
            } 
            @media only screen and (max-width: 640px) {
                margin-bottom: 20px;
            } 
            @media only screen and (max-width: 320px) {
                margin-bottom: 45px;
            } 
        }

        &-img {
            width: 68px;
            height: 68px;
        }
        &-title {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: var(--testimonials-slide-title);
            margin-bottom: 17px;
            @media only screen and (max-width: 320px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
        &-descr {
            width: 23vw;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: var(--testimonials-slide-descr);
            margin: 0 auto;
            @media only screen and (max-width: 1200px) {
                width: 27.2vw; 
            }
            @media only screen and (max-width: 640px) {
                width: 68.80vw;
            } 
            @media only screen and (max-width: 320px) {
                width: 85vw;
            } 
        }
    }
    &__button {
        margin: 0 auto;
    }
    &__count {
        margin-bottom: 8px;
        @media only screen and (max-width: 1200px) {
            margin-bottom: 4px;
        } 
        @media only screen and (max-width: 320px) {
            margin-bottom: 5px;
        } 
    }
    &__counter {
        @media only screen and (max-width: 320px) {
            margin-bottom: 20px;
        }
    }
}

/* Testimonials end */

/* map start */
.map {
    background-color: var(--map-bg-color);
    &__wrapper {
        padding: 100px 0;
        @media only screen and (max-width: 640px) {
            padding: 95px 0 82px 0;
        }
        @media only screen and (max-width: 320px) {
            padding: 50px 0 59px 0;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: var(--map-title-color);
        margin-bottom: 60px;
        @media only screen and (max-width: 640px) {
            margin-bottom: 53px;
        }
        @media only screen and (max-width: 320px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 30px;
        }
        
    }
    &__content {
        max-width: 62.5vw;
        margin: 0 auto;
        margin-bottom: 30px;
        @media only screen and (max-width: 1200px) {
            max-width: 900px;
            height: 436px;
            margin-bottom: 35px;
        }
        @media only screen and (max-width: 640px) {
            max-width: 600px;
            height: 290px;
        }
        @media only screen and (max-width: 320px) {
            max-width: 300px;
            height: 146px;
            margin-bottom: 30px;
        }
    }

    &__button {
        margin: 0 auto;
    }
}

/* map end */