/* Header style start*/
.header {

    &__wrapper {
        height: 96px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 150px;
        @media only screen and (max-width: 639px) {
            margin: 0 10px;
        }
        @media only screen and (min-width: 640px) {
            margin: 0 20px;
        } 
        @media only screen and (min-width: 1200px) {
            margin: 0 150px;
        } 
        @media only screen and (min-width: 1920px){
        
        }
    }

    &__logo {
        @media only screen and (max-width: 639px) {
            margin-right: 100px;
        }
        @media only screen and (min-width: 640px) {

        } 
        @media only screen and (min-width: 1200px) {
        
        } 
        @media only screen and (min-width: 1920px){
        
        }
    }

    &__nav {
        @media only screen and (max-width: 639px) {
            display: none;
        }
    }

    &__container {
        @media only screen and (max-width: 639px) {
           display: flex;
           align-items: center;
           justify-content: flex-end;
           padding-top: 15px;
        }
    }

    &__radio {
        width: 54px;
        height: 30px;
        img {
            object-fit: cover;
        }
        
    }

    &__burger {
        display: none;
        position: relative;
        width: 40px;
        height: 21px;
        @media only screen and (max-width: 639px) {
            display: block;
            margin-right: 26px;
        }
    }
 
}

.nav-header {

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 122px;
        &:last-child {
            margin-right: 0px;
        }
        @media only screen and (min-width: 640px) {
            margin-right: 73px;
        } 
        @media only screen and (min-width: 1200px) {
        
        } 
        @media only screen and (min-width: 1920px){
            margin-right: 122px;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        &:hover:not(.nav-header__link--active), &:focus:not(.nav-header__link--active), &:active:not(.nav-header__link--active) {
            opacity: .75;
            cursor: pointer;
        }
        &--active {
            text-decoration: underline;
            font-weight: 900;
            cursor: default;
        }
        @media only screen and (min-width: 640px) {
            &--design {
                display: none;
            }
        } 
        @media only screen and (min-width: 1200px) {
            &--design {
                display: block;
            }
        } 
        @media only screen and (min-width: 1920px){
            &--design {
                display: block;
            }
        }
    }
    
}



/* Header style end*/

/* intro style start*/

.info-item {
    position: relative;
    margin-right: 46px;
    &:last-child {
        margin-right: 0px;
    }
    &__actions {
        display: flex;
    }
    &__photo {
        width: 140px;
    }
    &__info {
        display: none;
        position: absolute;
        left: 25px;
        bottom: 30px;
        width: 194px;
    }
    &__description {
        color: #FFFFFF;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 14px;
    }

    &__watch {
        margin-right: 10px;
    }
    
}

.intro {
    height: 940px;
    position: relative;
    background: url('/assets/images/landing/intro/intro-bg.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    @media only screen and (max-width: 1200px) {
        background: url('/assets/images/landing/intro/intro-bg-1200.png') no-repeat center;
        background-size: cover;
    } 

    
    &__wrapper {
        margin-left: 360px;
        margin-bottom: 20px;
    }

    &__title {
        max-width: 793px;
        margin: 0;
        margin-bottom: 37px;
        margin-top: 206px;
        padding: 0;
        border: 0;
        font-weight: 900;
        font-size: 89px;
        line-height: 104px;
        color: #FEFEFE;
    }

    &__slider-wrapper {
        position: absolute;
        min-width: 1087px;
        left: 820px;
        top: 406px;
        overflow: hidden;
        background: url('/assets/images/landing/intro/slider/line.svg') no-repeat left center;
    }

    &__slider {
        display: flex;
        align-items: center;
        margin-left: 135px;
    }

    

    &__item {
        transition: .2s linear;
        &--active {
            .info-item__photo {
                width: 245px;
            }
            .info-item__info {
                display: block;
            }
        }
        &:hover {
           cursor: pointer;
           transform: scale(1.1);
        }
    }

    &__counter {
        position: absolute;
        top: 778px;
        left: 1143px;
        width: 245px;
        margin: 0;
        text-align: center;
    }

    &__current {
        color: #FEFEFE;
    }

    &__total {
        color: #BDBDBD;
    }

    &__range {
        -webkit-appearance: none;
        background: rgba(189, 189, 189, 0.57);
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            background: #FEFEFE;
        }
        &::-moz-range-thumb {
            background: #FEFEFE;
        }
    }
    
    &__social-networks {
        position: absolute;
        top: 722px;
        left: 152px;

        .social-networks__list {
            flex-direction: column;
        }

        .social-networks__item {
            margin-bottom: 15px;
        }

        @media only screen and (max-width: 639px) {
            display: none;
        } 

        @media only screen and (min-width: 640px) {
            left: 20px;
            top: 726px;
        } 

        @media only screen and (min-width: 1200px) {
            left: 150px;
            top: 747px;
        } 

        @media only screen and (min-width: 1920px){
            
        }
    }


}

/* intro style end*/

/* how_it_works start*/

.how-it-works {
    &__content {
        min-width: 790px;
        margin: 100px 564px;
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        color: #333333;
        margin-bottom: 30px;
        text-align: center;
    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4F4F4F;
        margin-bottom: 30px;
    }
    &__slider {
        &-wrapper {
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &-inner {
            display: flex;
        }
        &-counter {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__slide {
        min-width: 790px;
    }

    /* how-it-works counter start */
    &__range {
        &::-webkit-slider-thumb {
            width: 62px;
            height: 10px;
        }

        &::-moz-range-thumb {
            width: 62px;
            height: 10px;
        }

        @media only screen and (min-width: 320px) and (max-width: 639px) {
            &::-webkit-slider-thumb {
                width: 80px;
            }

            &::-moz-range-thumb {
                width: 80px;
            }
        } 
        @media only screen and (min-width: 640px) and (max-width: 1199.98px) {
            &::-webkit-slider-thumb {
                width: 80px;
            }

            &::-moz-range-thumb {
                width: 80px;
            }
        } 
        @media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
            &::-webkit-slider-thumb {
                width: 80px;
            }

            &::-moz-range-thumb {
                width: 80px;
            }
        } 
    }
    /* how-it-works counter end */

    &__button {
        margin: 0 auto;
    }
}

/* how_it_works end*/

/* inspiring start */

.inspiring {
    background: #F2F2F2;
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        padding: 100px 360px 132px 360px;
    }

    &__card {
        grid-column: span 1;
        &-pic {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            width: 80px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        &-title {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #333333;
            margin-bottom: 15px;
        }
        &-descr {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.1px;
        }
    }
}

/* inspiring end */

/* pets_in_Zoo start*/
.pets-in-zoo {
    &__wrapper {
        padding: 100px 0;
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #333333;
        margin-bottom: 35px;
    }
    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        &-wrapper {
            overflow: hidden;
            max-width: 1200px;
        }
        &-inner {
            display: inline-flex;
        }
        &-left-arrow {
            margin-right: 20px;
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
        &-right-arrow {
            margin-left: 20px;
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
        &-counter {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__slide {
        position: relative;
        margin-right: 30px;
        &:last-child {
            margin-right: 0px;
        }
        &--active {
            .pets-in-zoo__info {
                opacity: 1;
                bottom: 46px;
                left: 22px;
            }
        }
        &:hover {
            .pets-in-zoo__photo {
                filter: brightness(70%);
            }
            .pets-in-zoo__info {
                opacity: 1;
                bottom: 46px;
                left: 22px;
            } 
        }
    }

    &__photo {
        min-width: 278px;
    }

    &__info {
        opacity: 0;
        position: absolute;
        bottom: 20px;
        left: 22px;
        width: 194px;
        transition: all .5s linear;
    }
    &__description {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 14px;
    }
    &__actions {
        display: flex;
    }
    &__watch {
        margin-right: 10px;  
    }

    &__button {
        margin: 0 auto;
    }
}

/* pets_in_Zoo end*/

/* pay_and_feed start */
.pay-and-feed {
    background: #F2F2F2;

    &__wrapper {
        padding: 100px 0;
        min-width: 1200px;
    }

    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #333333;
        margin-bottom: 30px;
    }
    &__descr {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 92px;
    }
    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        &-arrow {
            margin-right: 63px;
            max-width: 106px;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 63px;
        width: 245px;
        height: 245px;
        border: 3px solid #4BD8CB;
        border-radius: 50%;

        &-pic {
            margin-bottom: 18.11px;
            width: 60px;
            height: 60px;
        }
        &-title {
            width: 136px;
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
        }

        &:last-child {
            margin-right: 0px;
        }
    }

    &__button {
        margin: 0 auto;
    }
}
/* pay_and_feed end */

/* Testimonials start */

.testimonials {
    padding: 100px 0;
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #333333;
        margin-bottom: 50px;
    }
    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        &-wrapper {
            overflow: hidden;
            max-width: 1230px;
            height: 340px;
        }
        &-inner {
            display: inline-flex;
            align-items: center;
            height: 100%; 
            padding-left: 13px;
        }
        &-right-arrow {
            margin-left: 3px;
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
        &-left-arrow {
            margin-right: 7px;
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
        &-counter {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__slide {
        width: 585px;
        height: 310px;
        background: #FEFEFE;
        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
        border-radius: 5px;
        margin-right: 30px;

        &-pic-container {
            width: 68px;
            height: 68px;
            margin: 47px auto 17px auto;
            border: 1px solid #BDBDBD;
            border-radius: 50%;
        }

        &-img {
            width: 68px;
            height: 68px;
        }
        &-title {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #333333;
            margin-bottom: 17px;
            
        }
        &-descr {
            width: 440px;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #4F4F4F;
            margin: 0 auto;
        }
    }
    &__button {
        margin: 0 auto;
    }
}

/* Testimonials end */

/* map start */
.map {
    background: #F2F2F2;
    &__wrapper {
        padding: 100px 0;
    }

    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #333333;
        margin-bottom: 60px;
    }
    &__content {
        margin-bottom: 35px;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__button {
        margin: 0 auto;
    }
}

/* map end */

/* footer start */

.footer {
    background: #333333;

    &__wrapper {
        margin: 0 auto;
        display: grid;
        @media only screen and (max-width: 639px) {
            padding-top: 50px;
            margin: 0 10px;
            grid-template: auto / auto;
            grid-template-areas: 
                'logo'
                'nav'
                'contact-us'
                'zoo-centre'
                'button'
                'copyrights'
            ;
        } 
        @media only screen and (min-width: 640px) {
            padding-top: 96px;
            margin: 0 20px;
            grid-template-columns: auto fit-content(191px) auto;
            grid-template-rows: auto auto;
            grid-template-areas: 
                'logo button button' 
                'nav nav .'
                'contact-us contact-us .'
                'zoo-centre zoo-centre .'
                'copyrights copyrights copyrights'
            ;
        } 
        @media only screen and (min-width: 1200px) {
            grid-template-columns: auto auto;
            grid-template-rows: auto 225px auto auto;
            column-gap: 76px;
            margin: 0 150px;
            padding-top: 100px;
            grid-template-areas: 
                'logo nav' 
                'contact-us zoo-centre'
                'contact-us button'
                'copyrights copyrights'
            ;
        } 
        @media only screen and (min-width: 1900px){
            grid-template: auto auto auto / auto auto auto;
            grid-template-areas: 
                'logo nav button'
                'contact-us zoo-centre .'
                'copyrights copyrights copyrights'
            ;
            column-gap: 0px;
        }
    }
    &__logo {
        grid-area: logo;
        .logo__bg {
            background: url('/assets/images/global/logo/logo-white.svg') no-repeat center;
        }
        @media only screen and (max-width: 639px) {
            margin-bottom: 30px;
        } 
        @media only screen and (min-width: 640px) {
            margin-bottom: 19px;
        } 
        @media only screen and (min-width: 1200px) {

        } 
        @media only screen and (min-width: 1900px){
            margin-bottom: 57px;
            width: 59px;
            height: 54px;
        }
    }

    &__contact-us {
        grid-area: contact-us;
        @media only screen and (max-width: 639px) {
            width: 100%;
            margin-bottom: 54px;
        } 
        @media only screen and (min-width: 640px) {
            margin-bottom: 77px;
        } 
        @media only screen and (min-width: 1200px) {
            width: 383px;
            margin-bottom: 64px;
        } 
        @media only screen and (min-width: 1900px){
            margin-bottom: 60px;
            margin-right: 441px;
        }
    }

    &__nav {
        grid-area: nav;
        padding-top: 17px;
        @media only screen and (max-width: 639px) {
            margin-bottom: 47px;
            .nav__list {
                flex-direction: column;
            }
        } 
        @media only screen and (min-width: 640px) {
            margin-bottom: 55px;
            .nav__list {
                flex-direction: column;
            }
        } 
        @media only screen and (min-width: 1200px) {
            .nav__list {
                width: 440px;
                flex-direction: row;
            }
            .nav__item {
                margin-right: 164px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        } 
        @media only screen and (min-width: 1900px){
            margin-right: 112px;
            margin-bottom: 74px;
            .nav__list {
                max-width: 404px;
                flex-direction: row;
            }
            .nav__item {
                max-width: 404px;
                margin-right: 122px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    
        .nav__item {
            &:last-child {
                margin-right: 0px;
            }
            .active {
                text-decoration: underline;
                font-weight: 900;
            }
        }
    }

    &__zoo-centre {
        grid-area: zoo-centre;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 639px) {
            margin-bottom: 46px;
        }
        @media only screen and (min-width: 640px) {
            margin-bottom: 71px;
        } 
        @media only screen and (min-width: 1200px) {
            margin-bottom: 40px;
        } 
        @media only screen and (min-width: 1900px){
        
        }
    }
    
    &__button {
        grid-area: button;
        width: 275px;
        @media only screen and (max-width: 639px) {
            margin-bottom: 80px;
            justify-self: center
        } 
        @media only screen and (min-width: 640px) {
            justify-self: end;
        } 
        @media only screen and (min-width: 1200px) {
            justify-self: start;
        } 
        @media only screen and (min-width: 1900px){
            justify-self: end;
        }
    }

    &__copyrights {
        grid-area: copyrights;
        border-top: 0.5px solid #FEFEFE;
        @media only screen and (max-width: 639px) {
            .copyrights__body {
                padding: 28px 0;
            }
        } 
        @media only screen and (min-width: 640px) {
            .copyrights__body {
                padding: 28px 0 48px 0;
            }
        } 
        @media only screen and (min-width: 1200px) {

        } 
        @media only screen and (min-width: 1900px){
        
        }
    }

}

.contact-us {
    &__title {
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: #FEFEFE;
        margin-bottom: 33px;
    }
}

.form {
    &__info {
        display: flex;
        flex-direction: column;
    }

    &__field {
        background: transparent;
        border: 0;
        border-bottom: 1px solid #BDBDBD;
        margin-bottom: 20px;
        padding-bottom: 10px;
        outline: none;
        color: #E0E0E0;
        -moz-appearance: none;
        &::placeholder {
            color: #E0E0E0;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__areafield {
        color: #BDBDBD;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 3px;
        margin-bottom: 25px;
        padding-inline-start: 0.30em;
        padding-inline-end: 0.75em;
    }

    &__legend {
        padding: 3px 5px 3px 3px;
    }

    &__areafield-textarea {
        width: 100%;
        height: 100%;
        outline: none;
        -moz-appearance: none;
        background-color: transparent;
        resize: none;
        border: none;
        overflow: auto;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
    }

    &__label {
        display: block;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
        margin-bottom: 20px;
        &>input:not(:disabled):active+span::before {
            background-color: #b3d7ff;
            border-color: #b3d7ff;
        }
        &>input:focus:not(:checked)+span::before {
            border-color: #80bdff;
        }
        &>input:checked+span::before {
            border-color: #0b76ef;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
        &>input:disabled+span::before {
            background-color: #e9ecef;
        }
    }

    &__checkbox-text {
        display: inline-flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
            :hover::before {
                border-color: #b3d7ff;
            }
            &::before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                flex-shrink: 0;
                flex-grow: 0;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 1px;
            }
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__button {
        display: block;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FEFEFE;
        margin-left: auto;
    }

    &__button-text {
        margin-right: 24px;
    }
    
    &__arr {
        width: 48px;
    }

}

.zoo-centre {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__content {
        margin-bottom: 20px;
    }

    &__addr {
        margin-bottom: 5px;
    }

    &__info {
        margin-bottom: 20px;
        font-style: normal;
    }

    &__tel {
        margin-bottom: 5px;
    }
}

.copyrights {
    &__body {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
    }
    &__name {
       margin-bottom: 5px; 
       color: inherit;
    }
    @media only screen and (max-width: 640px) {
        margin-left: 10px;
    } 
}

/* footer end */