@import "./normalize.scss";
@import "./reset.local.scss";

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
            url('/assets/fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/assets/fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #4F4F4F;
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
}

.design-toggle {
    
    &__range {
        -webkit-appearance: none;
        background: #F1F1F1;
        border-radius: 190px;
        width: 54px;
        height: 30px;
        padding: 5px;
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            background: #FFFFFF;
            width: 20px;
            height: 20px;
            box-shadow: 2px 4px 5px rgba(6, 12, 70, 0.15);
            border-radius: 50%;
            cursor: pointer;
            -webkit-appearance: none;
        }
        &::-moz-range-thumb {
            background: #FFFFFF;
            width: 20px;
            height: 20px;
            box-shadow: 2px 4px 5px rgba(6, 12, 70, 0.15);
            border-radius: 50%;
            cursor: pointer;
            -moz-appearance: none;
        }
    }
}

.main-btn {
    width: 245px;
    height: 55px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    border: none;
    padding: 12px 0;
    &__img {
        margin-right: 5px;
        width: 32px;
        height: 32px;
    }
}

.instagram{
    background: url('/assets/images/global/social-net/instagram.svg') no-repeat center;
}
.twitter{
    background: url('/assets/images/global/social-net/twitter.svg') no-repeat center;
}
.youtube {
    background: url('/assets/images/global/social-net/youtube.svg') no-repeat center;
}
.vk {
    background: url('/assets/images/global/social-net/vk.svg') no-repeat center;
}

.counter {
    text-align: center;
    margin-bottom: 30px;
    
    &__count {
        margin-bottom: 11px;
    }

    &__current {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: #333333;
    }
    
    &__total {
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
        color: #BDBDBD;
    }
    
    &__range {
        -webkit-appearance: none;
        background: rgba(189, 189, 189, 0.57);
        width: 245px;
        height: 5px;
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            background: #333333;
            width: 30px;
            height: 10px;
            cursor: pointer;
            -webkit-appearance: none;
        }
        &::-moz-range-thumb {
            background: #333333;
            width: 30px;
            height: 10px;
            cursor: pointer;
            border-radius: 0px;
        }
    }
}

.social-networks {
    &__list {
        display: flex;
    }

    &__item {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        width: 20px;
        height: 20px;
    } 
}

/* Header style start*/
.header {

    &__wrapper {
        height: 96px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 150px;
        @media only screen and (max-width: 639px) {
            margin: 0 10px;
        }
        @media only screen and (min-width: 640px) {
            margin: 0 20px;
        } 
        @media only screen and (min-width: 1200px) {
            margin: 0 150px;
        } 
        @media only screen and (min-width: 1920px){
        
        }
    }

    &__logo {
        @media only screen and (max-width: 639px) {
            margin-right: 100px;
        }
        @media only screen and (min-width: 640px) {

        } 
        @media only screen and (min-width: 1200px) {
        
        } 
        @media only screen and (min-width: 1920px){
        
        }
    }

    &__nav {
        @media only screen and (max-width: 639px) {
            display: none;
        }
    }

    &__container {
        @media only screen and (max-width: 639px) {
           display: flex;
           align-items: center;
           justify-content: flex-end;
           padding-top: 15px;
        }
    }

    &__radio {
        width: 54px;
        height: 30px;
        img {
            object-fit: cover;
        }
        
    }

    &__burger {
        display: none;
        position: relative;
        width: 40px;
        height: 21px;
        @media only screen and (max-width: 639px) {
            display: block;
            margin-right: 26px;
        }
    }
 
}

.burger {

    &__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #333333;
        right: 0;
        &--first {
            top: 0;
        }

        &--second {
            top: 50%;
            transform: translateY(-50%);
        }

        &--third {
            bottom: 0;
            width: 33px;
        }
    }
}

.nav-header {

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 122px;
        &:last-child {
            margin-right: 0px;
        }
        @media only screen and (min-width: 640px) {
            margin-right: 73px;
        } 
        @media only screen and (min-width: 1200px) {
        
        } 
        @media only screen and (min-width: 1920px){
            margin-right: 122px;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        &:hover, &:focus, &:active {
            opacity: .75;
            cursor: pointer;
        }
        &--active {
            text-decoration: underline;
            font-weight: 900;
        }
        @media only screen and (min-width: 640px) {
            &--design {
                display: none;
            }
        } 
        @media only screen and (min-width: 1200px) {
            &--design {
                display: block;
            }
        } 
        @media only screen and (min-width: 1920px){
            &--design {
                display: block;
            }
        }
    }
    
}

.logo-header {
    width: 59px;
    height: 63px;

    &__link {
        text-decoration: none;
    }

    &__online {
        display: block;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.08em;
        color: #333333;
    }

    &__zoo {
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #333333;
    }

    &__text {
        width: 59px;
        height: 42px;
    }
}

/* Header style end*/

/* intro style start*/

.info-item {
    position: relative;
    margin-right: 46px;
    &:last-child {
        margin-right: 0px;
    }
    &__actions {
        display: flex;
    }
    &__photo {
        width: 140px;
    }
    &__info {
        display: none;
        position: absolute;
        left: 25px;
        bottom: 30px;
        width: 194px;
    }
    &__description {
        color: #FFFFFF;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 14px;
    }

    &__watch {
        margin-right: 10px;
    }
    
}

.intro {
    height: 940px;
    position: relative;
    background: url('/assets/images/landing/intro/intro-bg.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    @media only screen and (max-width: 1200px) {
        background: url('/assets/images/landing/intro/intro-bg-1200.png') no-repeat center;
        background-size: cover;
    } 

    
    &__wrapper {
        margin-left: 360px;
        margin-bottom: 20px;
    }

    &__title {
        max-width: 793px;
        margin: 0;
        margin-bottom: 37px;
        margin-top: 206px;
        padding: 0;
        border: 0;
        font-weight: 900;
        font-size: 89px;
        line-height: 104px;
        color: #FEFEFE;
    }

    &__slider-wrapper {
        position: absolute;
        min-width: 1087px;
        left: 820px;
        top: 406px;
        overflow: hidden;
        background: url('/assets/images/landing/intro/slider/line.svg') no-repeat left center;
    }

    &__slider {
        display: flex;
        align-items: center;
        margin-left: 135px;
    }

    

    &__item {
        &--active {
            .info-item__photo {
                width: 245px;
            }
            .info-item__info {
                display: block;
            }
        }
    }

    &__counter {
        position: absolute;
        top: 778px;
        left: 1143px;
        width: 245px;
        margin: 0;
        text-align: center;
    }

    &__current {
        color: #FEFEFE;
    }

    &__total {
        color: #BDBDBD;
    }

    &__range {
        -webkit-appearance: none;
        background: rgba(189, 189, 189, 0.57);
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            background: #FEFEFE;
        }
        &::-moz-range-thumb {
            background: #FEFEFE;
        }
    }
    
    &__social-networks {
        position: absolute;
        top: 722px;
        left: 152px;

        .social-networks__list {
            flex-direction: column;
        }

        .social-networks__item {
            margin-bottom: 15px;
        }

        @media only screen and (max-width: 639px) {
            display: none;
        } 

        @media only screen and (min-width: 640px) {
            left: 20px;
            top: 726px;
        } 

        @media only screen and (min-width: 1200px) {
            left: 150px;
            top: 747px;
        } 

        @media only screen and (min-width: 1920px){
            
        }
    }


}

/* intro style end*/

/* how_it_works start*/

.how-it-works {
    &__content {
        min-width: 790px;
        margin: 100px 564px;
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        color: #333333;
        margin-bottom: 30px;
        text-align: center;
    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4F4F4F;
        margin-bottom: 30px;
    }
    &__slider {
        &-wrapper {
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &-inner {
            display: flex;
        }
        &-counter {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__slide {
        min-width: 790px;
    }

    /* how-it-works counter start */
    &__range {
        &::-webkit-slider-thumb {
            width: 62px;
            height: 10px;
        }

        &::-moz-range-thumb {
            width: 62px;
            height: 10px;
        }

        @media only screen and (min-width: 320px) and (max-width: 639px) {
            &::-webkit-slider-thumb {
                width: 80px;
            }

            &::-moz-range-thumb {
                width: 80px;
            }
        } 
        @media only screen and (min-width: 640px) and (max-width: 1199.98px) {
            &::-webkit-slider-thumb {
                width: 80px;
            }

            &::-moz-range-thumb {
                width: 80px;
            }
        } 
        @media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
            &::-webkit-slider-thumb {
                width: 80px;
            }

            &::-moz-range-thumb {
                width: 80px;
            }
        } 
    }
    /* how-it-works counter end */

    &__button {
        margin: 0 auto;
    }

    &__footer {
        background: #F2F2F2;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        padding: 100px 360px 132px 360px;
    }

    &__card {
        grid-column: span 1;
        &-pic {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            width: 80px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        &-title {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #333333;
            margin-bottom: 15px;
        }
        &-descr {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.1px;
        }
    }
}

/* how_it_works end*/

/* pets_in_Zoo start*/
.pets-in-zoo {
    &__wrapper {
        padding: 100px 0;
    }
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #333333;
        margin-bottom: 35px;
    }
    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        &-wrapper {
            overflow: hidden;
            max-width: 1200px;
        }
        &-inner {
            display: inline-flex;
        }
        &-left-arrow {
            margin-right: 20px;
        }
        &-right-arrow {
            margin-left: 20px;
        }
        &-counter {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__slide {
        position: relative;
        margin-right: 30px;
        &:last-child {
            margin-right: 0px;
        }
        &--active {
            .pets-in-zoo__info {
                display: block;
            }
        }
    }

    &__photo {
        min-width: 278px;
    }

    &__info {
        display: none;
        position: absolute;
        top: 269px;
        left: 22px;
        width: 194px;
    }
    &__description {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 14px;
    }
    &__actions {
        display: flex;
    }
    &__watch {
        margin-right: 10px;  
    }

    &__button {
        margin: 0 auto;
    }
}

/* pets_in_Zoo end*/