@import "./normalize.scss";
@import "./reset.local.scss";
@import "../../landing/sass/path.scss";
  
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url($path+'/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url($path+'/assets/fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
            url($path+'/assets/fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url($path+'/assets/fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

 /* roboto-500 - latin */
 @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url($path+'/assets/fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url($path+'/assets/fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #4F4F4F;
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

/*header start*/
.design-toggle {
    &__range {
        -webkit-appearance: none;
        background: var(--design-toggle-track);
        border-radius: 190px;
        width: 54px;
        height: 30px;
        padding: 5px;
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            background: var(--design-toggle-thumb);
            width: 20px;
            height: 20px;
            box-shadow: 2px 4px 5px rgba(6, 12, 70, 0.15);
            border-radius: 50%;
            cursor: pointer;
            -webkit-appearance: none;
        }
        &::-moz-range-thumb {
            background: var(--design-toggle-thumb);
            width: 20px;
            height: 20px;
            box-shadow: 2px 4px 5px rgba(6, 12, 70, 0.15);
            border-radius: 50%;
            cursor: pointer;
            -moz-appearance: none;
        }
    }
}
/* header end */
.main-btn {
    position: relative;
    width: 245px;
    height: 55px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    border: none;
    padding: 12px 0;
    transition: .5s linear;
    &__img {
        margin-right: 5px;
        width: 32px;
        height: 32px;
    }

    &:hover, &:focus, &:active {
        cursor: pointer;
        filter: hue-rotate(-30deg);
    }
}

.instagram{
    background: url($path+'/assets/images/global/social-net/instagram.svg') no-repeat center;
}
.twitter{
    background: url($path+'/assets/images/global/social-net/twitter.svg') no-repeat center;
}
.youtube {
    background: url($path+'/assets/images/global/social-net/youtube.svg') no-repeat center;
}
.vk {
    background: url($path+'/assets/images/global/social-net/vk.svg') no-repeat center;
}

.counter {
    text-align: center;
    margin-bottom: 30px;
    
    &__count {
        margin-bottom: 7px;
    }

    &__current {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: var(--counter-current);
    }
    
    &__total {
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
        color: var(--counter-total);
    }
    
    &__range {
        -webkit-appearance: none;
        background: var(--range-track);
        width: 245px;
        height: 5px;
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            background: var(--range-thumb);
            width: 30px;
            height: 10px;
            cursor: pointer;
            -webkit-appearance: none;
        }
        &::-moz-range-thumb {
            background: var(--range-thumb);
            width: 30px;
            height: 10px;
            cursor: pointer;
            border-radius: 0px;
        }
    }
}

.social-networks {
    transition: .4 linear;
    &__list {
        display: flex;
    }

    &__item {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        &:hover, &:focus, &:active {
            cursor: pointer;
            transform: scale(1.5);
        }
    }

    &__link {
        display: block;
        width: 20px;
        height: 20px;
    } 
}

.main-map {
    &__container {
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__map {
        width: 100%;
        height: 100%;
    }

    &__picture {
        width: 100%;
        height: 100%;
    }
    &__earth-color {
        fill: var(--earth-color);
    }

    &__earth-color--active {
        fill: var(--earth-color-active);
        stroke: var(--earth-color-stroke);
    }
    &__icon {
        position: absolute;
        width: var(--icon-width);
        --icon-width: 66px;
        --icon-height: 84px;
        @media only screen and (max-width: 320px) {
            --icon-width: 33px;
            --icon-height: 46px;
        }
        &--active {
            .main-map__bg {
                fill: #EB5757;
            }
        }
        &:hover {
            .main-map__bg {
                fill: #EB5757;
            }
        }
    }
  

    //animals on map start
    &__eagle {
        // left: 10.5%;
        // top: 16%;
        top: calc(33% - var(--icon-height));
        left: calc(13% - var(--icon-width) / 2);
    }

    &__alligator {
        // left: 20.3%;
        // top: 20%;
        top: calc(38% - var(--icon-height));
        left: calc(23% - var(--icon-width) / 2);
    }

    &__gorilla {
        // top: 38%;
        // left: 47.5%
        top: calc(55% - var(--icon-height));
        left: calc(50.5% - var(--icon-width) / 2);
        @media only screen and (max-width: 1200px) {
            .tooltip__text {
                transform: translate(-56%, 0%);
            }
        }
    }

    &__panda {
        // top: 18%;
        // left: 74.5%;
        top: calc(35% - var(--icon-height));
        left: calc(77% - var(--icon-width) / 2);
        .tooltip__text {
            top: 50%;
            left: -50%;
            transform: translate(-95%,-70%);
        }
    }

    //animals on map end

    &__pin {
        width: 100%;
        position: relative;
    }

    &__pic {
        position: absolute;
        width: 60%;
        top: 12%;
        left: 20%;
    }

    &__bg {
	 	transition: fill .3s linear;
        fill: #4AD7CD;
        pointer-events: fill;
    }
}

.tooltip {
    &__text {
        visibility: hidden;
        width: 436px;
        height: 149px;
        background: var(--tooltip-bg-color);
        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
        border-radius: 8px;
        color: var(--tooltip-text-color);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(15%,-70%);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 1200px) {
            top: 100%;
            left: 100%;
            transform: translate(-5%,-5%);
        }
        @media only screen and (max-width: 640px) {
            width: 69vw;
            height: 23vw;
        }
        @media only screen and (max-width: 320px) {
            width: 238px;
            height: 113px;
        }
    }
    &:hover {
        .tooltip__text {
            visibility: visible;
        }
    }

    &__photo {
        margin-right: 20px;
        width: 65px;
        height: 65px;
        margin-left: 44px;
        @media only screen and (max-width: 640px) {
            margin-right: 3vw;
            width: 10vw;
            height: 10vw;
        }
        @media only screen and (max-width: 320px) {
            margin-left: 15px;
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
    }
    &__description {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: var(--tooltip-text-color);
        @media only screen and (max-width: 1200px) {
            margin-bottom: 5px;
        }
        @media only screen and (max-width: 640px) {
            font-size: 2.2vw;
        }
        @media only screen and (max-width: 320px) {
            width: 150px;
            font-size: 11px;
            line-height: 13px;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        color: var(--tooltop-title-color);
        margin-bottom: 7px;
        @media only screen and (max-width: 1200px) {
            margin-bottom: 7px;
        }
        @media only screen and (max-width: 640px) {
            font-size: 2.85vw;
            margin-bottom: 1.1vw;
        }
        @media only screen and (max-width: 320px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    
    &__sub-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--tooltip-subtitle-color);
        margin-bottom: 5px;
        @media only screen and (max-width: 640px) {
            font-size: 2.2vw;
        }
        @media only screen and (max-width: 320px) {
            font-size: 11px;
            line-height: 13px;
        }
    }
}

.nav {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        .active {
            text-decoration: underline;
            font-weight: 900;
        }
    }

    &__link {
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FEFEFE;
        &:hover, &:focus, &:active {
            opacity: .75;
            cursor: pointer;
        }
    }   
}

.logo {
    width: 59px;
    height: 63px;

    &__link {
        text-decoration: none;
    }

    &__bg {
        width: 100%;
        height: 100%;
    }
    &__text-color {
        fill: var(--logo-header-color);
    }
}

.burger {

    &__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--burger-line);
        right: 0;
        &--first {
            top: 0;
        }

        &--second {
            top: 50%;
            transform: translateY(-50%);
        }

        &--third {
            bottom: 0;
            width: 33px;
        }
    }
}

/* footer start*/
.contact-us {
    &__title {
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: #FEFEFE;
        margin-bottom: 33px;
    }
}

.form {
    &__info {
        display: flex;
        flex-direction: column;
    }

    &__field {
        background: transparent;
        border: 0;
        border-bottom: 1px solid #BDBDBD;
        margin-bottom: 18px;
        padding-bottom: 10px;
        outline: none;
        color: #E0E0E0;
        -moz-appearance: none;
        &::placeholder {
            color: #E0E0E0;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__areafield {
        color: #BDBDBD;
        border: 1px solid #BDBDBD;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 3px;
        margin-bottom: 25px;
        padding-inline-start: 0.30em;
        padding-inline-end: 0.75em;
        max-height: 124px;
    }

    &__legend {
        padding: 3px 5px 3px 3px;
        letter-spacing: -0.9px;
    }

    &__areafield-textarea {
        max-height: 115px;
        width: 100%;
        height: 100%;
        outline: none;
        -moz-appearance: none;
        background-color: transparent;
        resize: none;
        border: none;
        overflow: auto;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
    }

    &__label {
        display: block;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
        margin-bottom: 15px;
        &>input:not(:disabled):active+span::before {
            background-color: #b3d7ff;
            border-color: #b3d7ff;
        }
        &>input:focus:not(:checked)+span::before {
            border-color: #80bdff;
        }
        &>input:checked+span::before {
            border-color: #0b76ef;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
        &>input:disabled+span::before {
            background-color: #e9ecef;
        }
    }

    &__checkbox-text {
        display: inline-flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
            :hover::before {
                border-color: #b3d7ff;
            }
            &::before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                flex-shrink: 0;
                flex-grow: 0;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 1px;
            }
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__button {
        display: block;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FEFEFE;
        margin-left: auto;
        margin-right: 17px;
        @media only screen and (max-width: 320px) {
            margin-right: 0;
        }
    }

    &__button-text {
        margin-right: 24px;
    }
    
    &__arr {
        width: 48px;
    }

}

.zoo-centre {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__content {
        margin-bottom: 20px;
    }

    &__addr {
        margin-bottom: 5px;
    }

    &__info {
        margin-bottom: 20px;
        font-style: normal;
    }

    &__tel {
        margin-bottom: 5px;
    }
}

.copyrights {
    &__body {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
    }
    &__name {
       margin-bottom: 5px; 
       color: inherit;
    }
}

/* footer end*/

/* common blocks on pages start*/

/* Header style start*/
.header {
    box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
    background-color: var(--header-bg-color);
    @media only screen and (max-width: 640px) {
        max-width: 640px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    &__wrapper {
        height: 94px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 150px;
        @media only screen and (max-width: 1200px) {
            margin: 0px 12.7%;
        }
        @media only screen and (max-width: 640px) {
            margin: 0 20px;
        }
        @media only screen and (max-width: 320px) {
            margin: 0 10px;
        }
    }

    &__nav {
        @media only screen and (max-width: 640px) {
            display: none;
        }
    }

    &__container {
        @media only screen and (max-width: 640px) {
           display: flex;
           align-items: center;
           justify-content: flex-end;
        }
    }

    &__radio {
        width: 54px;
        height: 30px;
        img {
            object-fit: cover;
        }
        @media only screen and (max-width: 640px) {
            margin-right: 35px;
        }  
        @media only screen and (max-width: 320px) {
            margin-right: 25px;
        }  
    }

    &__burger {
        display: none;
        position: relative;
        width: 40px;
        height: 21px;
        @media only screen and (max-width: 640px) {
            display: block;
        }
    }
 
}

.nav-header {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10px;
        margin-right: 7px;
        width: 576px;
        @media only screen and (max-width: 1200px) {
            width: 48vw;
        }
    }

    &__item {
        margin-right: 83px;
        &:last-child {
            margin-right: 0px;
        }
        @media only screen and (max-width: 1200px) {
            margin-right: 0;
        } 
    }

    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: var(--nav-header-link-color);
        &:hover:not(.nav-header__link--active), &:focus:not(.nav-header__link--active), &:active:not(.nav-header__link--active) {
            opacity: .75;
            cursor: pointer;
        }
        &--active {
            text-decoration: underline;
            font-weight: 900;
            cursor: default;
            pointer-events: none;
        }
    }
}

.logo-header {
    width: 59px;
    height: 63px;
    color: var(--logo-header-color);
    &__link {
        text-decoration: none;
    }

    &__online {
        display: block;
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.08em;
        color: #333333;
    }

    &__zoo {
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #333333;
    }

    &__text {
        width: 59px;
        height: 42px;
    }
}
/* Header style end*/

/* footer start */
.footer {
    background: var(--footer-bg-color);
    &__wrapper {
        display: grid;
        margin: 0 7.8vw;
        padding-top: 105px;
        column-gap: 0px;
        grid-template: auto auto auto / auto auto auto;
        grid-template-areas: 
            'logo nav button'
            'contact-us zoo-centre .'
            'copyrights copyrights copyrights'
        ;
        @media only screen and (max-width: 1200px) {
            grid-template-columns: auto auto;
            grid-template-rows: auto 225px auto auto;
            column-gap: 0;
            margin: 0px 12.5vw;
            padding-top: 100px;
            grid-template-areas: 
                'logo nav' 
                'contact-us zoo-centre'
                'contact-us button'
                'copyrights copyrights'
            ;
        } 
        @media only screen and (max-width: 640px) {
            padding-top: 96px;
            margin: 0 17px;
            grid-template-columns: auto fit-content(191px) auto;
            grid-template-rows: auto auto;
            grid-template-areas: 
                'logo button button' 
                'nav nav .'
                'contact-us contact-us .'
                'zoo-centre zoo-centre .'
                'copyrights copyrights copyrights'
            ;
        }
        @media only screen and (max-width: 320px) {
            padding-top: 50px;
            margin: 0 10px;
            grid-template: auto / auto;
            grid-template-areas: 
                'logo'
                'nav'
                'contact-us'
                'zoo-centre'
                'button'
                'copyrights'
            ;
        } 
    }
    &__logo {
        grid-area: logo;
        margin-bottom: 57px;
        width: 59px;
        height: 54px;
        &-text {
            fill: var(--logo-footer-color);
        }
        @media only screen and (max-width: 1200px) {
            margin-bottom: 19px;
        }
        @media only screen and (max-width: 640px) {
            margin-bottom: 0px;
        }
        @media only screen and (max-width: 320px) {
            margin-bottom: 13px;
        } 
    }

    &__contact-us {
        grid-area: contact-us;
        min-width: 371px;
        margin-bottom: 60px;
        margin-right: 23vw;
        @media only screen and (max-width: 1200px) {
            min-width: 31vw;
            margin-bottom: 64px;
            margin-right: 6.34vw;
        } 
        @media only screen and (max-width: 640px) {
            margin-bottom: 90px;
            min-width: 53vw;
        } 
        @media only screen and (max-width: 320px) {
            width: 100%;
            margin-bottom: 68px;
        } 
    }

    &__nav {
        grid-area: nav;
        padding-top: 17px;
        margin-right: 5.83vw;
        margin-bottom: 74px;
        .nav__list {
            max-width: 404px;
            flex-direction: row;
        }
        @media only screen and (max-width: 1200px) {
            .nav__list {
                max-width: 440px;
                flex-direction: row;
                flex-wrap: wrap;
            }
        } 
        @media only screen and (max-width: 640px) {
            margin-bottom: 22px;
            .nav__list {
                flex-direction: column;
            }
        } 
        @media only screen and (max-width: 320px) {
            margin-bottom: 21px;
            .nav__list {
                flex-direction: column;
            }
        } 
        
        .nav__item {
            max-width: 404px;
            margin-right: 3.7vw;
            &:last-child {
                margin-right: 0px;
            }
            .active {
                text-decoration: underline;
                font-weight: 900;
            }
            @media only screen and (max-width: 1200px) {
                margin-right: 67px;
                &:last-child {
                    margin-right: 0px;
                }
            } 
            @media only screen and (max-width: 640px) {
                margin-bottom: 4.5px;
            } 
        }
    }

    &__zoo-centre {
        grid-area: zoo-centre;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 1200px) {
            margin-bottom: 35px;
            margin-top: -14px;
        } 
        @media only screen and (max-width: 640px) {
            margin-bottom: 71px;
        } 
        @media only screen and (max-width: 320px) {
            margin-bottom: 46px;
        }
    }
    
    &__button {
        grid-area: button;
        width: 275px;
        justify-self: end;
        @media only screen and (max-width: 1200px) {
            justify-self: start;
            margin-top: -13px;
            width: 23vw;
        }
        @media only screen and (max-width: 640px) {
            justify-self: end;
            width: 43vw;
            margin-top: 0;
        } 
        @media only screen and (max-width: 320px) {
            margin-bottom: 80px;
            justify-self: center;
            width: 275px;
        }  
    }

    &__copyrights {
        grid-area: copyrights;
        border-top: 0.5px solid #FEFEFE;
        .copyrights__body {
            padding: 28px 0 66px 0;
        }
        @media only screen and (max-width: 640px) {
            .copyrights__body {
                padding: 28px 0 48px 0;
            }
        }
        @media only screen and (max-width: 320px) {
            .copyrights__body {
                padding: 28px 0;
            }
        } 
    }
}
/* footer end */

/* common blocks on pages end*/

