/* Header style start*/
.header__wrapper {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 150px;
}

@media only screen and (max-width: 1200px) {
  .header__wrapper {
    margin: 0px 12.7%;
  }
}

@media only screen and (max-width: 640px) {
  .header__wrapper {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 320px) {
  .header__wrapper {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 640px) {
  .header__nav {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 15px;
  }
}

.header__radio {
  width: 54px;
  height: 30px;
}

.header__radio img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 640px) {
  .header__radio {
    margin-right: 34px;
  }
}

@media only screen and (max-width: 640px) {
  .header__radio {
    margin-right: 24px;
  }
}

.header__burger {
  display: none;
  position: relative;
  width: 40px;
  height: 21px;
}

@media only screen and (max-width: 640px) {
  .header__burger {
    display: block;
  }
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
  margin-right: 7px;
  width: 48vw;
}

.nav-header__item {
  margin-right: 83px;
}

.nav-header__item:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 1200px) {
  .nav-header__item {
    margin-right: 0;
  }
}

.nav-header__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.nav-header__link:hover:not(.nav-header__link--active), .nav-header__link:focus:not(.nav-header__link--active), .nav-header__link:active:not(.nav-header__link--active) {
  opacity: .75;
  cursor: pointer;
}

.nav-header__link--active {
  text-decoration: underline;
  font-weight: 900;
  cursor: default;
  pointer-events: none;
}

/* Header style end*/
/* intro style start*/
.info-item {
  position: relative;
  margin-right: 46px;
  -webkit-transition: width 2s linear;
  transition: width 2s linear;
}

@media only screen and (max-width: 1200px) {
  .info-item {
    margin-right: 2.5vw;
  }
}

@media only screen and (max-width: 320px) {
  .info-item {
    margin-right: 9px;
  }
}

.info-item:last-child {
  margin-right: 0px;
}

.info-item__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 320px) {
  .info-item__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info-item__photo {
  width: 140px;
  -webkit-transition: width 1s;
  transition: width 1s;
}

@media only screen and (max-width: 1200px) {
  .info-item__photo {
    width: 180px;
  }
}

@media only screen and (max-width: 640px) {
  .info-item__photo {
    width: 28vw;
    min-width: 113px;
  }
}

@media only screen and (max-width: 320px) {
  .info-item__photo {
    width: 113px;
  }
}

.info-item__info {
  display: none;
  position: absolute;
  left: 21px;
  bottom: 44px;
  width: 194px;
}

@media only screen and (max-width: 1200px) {
  .info-item__info {
    left: 23px;
    bottom: 33px;
  }
}

@media only screen and (max-width: 320px) {
  .info-item__info {
    width: 126px;
    left: 8px;
    bottom: 11px;
  }
}

.info-item__description {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 14px;
}

@media only screen and (max-width: 320px) {
  .info-item__description {
    margin-bottom: 6px;
    width: 126px;
    font-size: 12px;
    line-height: 14px;
  }
}

.info-item__watch {
  margin-right: 10px;
}

@media only screen and (max-width: 320px) {
  .info-item__watch {
    width: 99px;
  }
}

@media only screen and (max-width: 320px) {
  .info-item__watch {
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 320px) {
  .info-item__donate {
    width: 65px;
  }
}

.intro {
  height: 940px;
  position: relative;
  background: url("../../../assets/images/landing/intro/intro-bg.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .intro {
    background: url("../../../assets/images/landing/intro/intro-bg-1200.png") no-repeat center;
    background-size: cover;
    height: 926px;
  }
}

@media only screen and (max-width: 640px) {
  .intro {
    height: 934px;
  }
}

@media only screen and (max-width: 320px) {
  .intro {
    height: 669px;
  }
}

.intro__wrapper {
  margin-left: 360px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .intro__wrapper {
    margin-left: 12.5vw;
  }
}

@media only screen and (max-width: 640px) {
  .intro__wrapper {
    margin-left: 22px;
  }
}

@media only screen and (max-width: 320px) {
  .intro__wrapper {
    margin-left: 9px;
  }
}

.intro__title {
  max-width: 793px;
  margin: 0;
  margin-bottom: 37px;
  margin-top: 206px;
  padding: 0;
  border: 0;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: #FEFEFE;
}

@media only screen and (max-width: 1200px) {
  .intro__title {
    margin-top: 127px;
    font-size: 7.4vw;
  }
}

@media only screen and (max-width: 640px) {
  .intro__title {
    font-size: 10vw;
    line-height: 75px;
    margin-top: 18.5vw;
    margin-bottom: 5.8vw;
  }
}

@media only screen and (max-width: 320px) {
  .intro__title {
    font-size: 48px;
    line-height: 56px;
    margin-top: 89px;
    margin-bottom: 16px;
  }
}

.intro__slider-wrapper {
  position: absolute;
  min-width: 1087px;
  min-height: 430px;
  left: 43.5vw;
  top: 418px;
  overflow: hidden;
  background: url("../../../assets/images/landing/intro/slider/line.svg") no-repeat left 170px;
}

@media only screen and (max-width: 1200px) {
  .intro__slider-wrapper {
    background-position: left 180px;
    left: initial;
    top: 432px;
    right: -1147px;
  }
}

@media only screen and (max-width: 640px) {
  .intro__slider-wrapper {
    left: 9vw;
    top: 408px;
    background-position: left 28.6vw;
  }
}

@media only screen and (max-width: 320px) {
  .intro__slider-wrapper {
    left: 3px;
    top: 362px;
    background-position: left 100px;
  }
}

.intro__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 135px;
}

@media only screen and (max-width: 640px) {
  .intro__slider {
    margin-left: 12vw;
  }
}

@media only screen and (max-width: 320px) {
  .intro__slider {
    margin-left: 21px;
  }
}

.intro__item {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.intro__item--active .info-item__photo {
  width: 245px;
}

@media only screen and (max-width: 640px) {
  .intro__item--active .info-item__photo {
    width: 38.4vw;
  }
}

@media only screen and (max-width: 320px) {
  .intro__item--active .info-item__photo {
    width: 140px;
  }
}

.intro__item--active .info-item__info {
  display: block;
}

@media only screen and (max-width: 640px) {
  .intro__item--active .info-item__info {
    width: 30.3vw;
  }
}

.intro__item:hover:not(.intro__item--active) {
  cursor: pointer;
}

.intro__item:hover:not(.intro__item--active) .info-item__info {
  display: block;
}

@media only screen and (max-width: 640px) {
  .intro__item:hover:not(.intro__item--active) .info-item__info {
    width: 30.3vw;
  }
}

.intro__item:hover:not(.intro__item--active) .info-item__photo {
  width: 245px;
}

@media only screen and (max-width: 640px) {
  .intro__item:hover:not(.intro__item--active) .info-item__photo {
    width: 38.4vw;
  }
}

@media only screen and (max-width: 320px) {
  .intro__item:hover:not(.intro__item--active) .info-item__photo {
    width: 140px;
  }
}

.intro__counter {
  position: absolute;
  top: 361px;
  left: 325px;
  width: 245px;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .intro__counter {
    top: 377px;
    left: 347px;
  }
}

@media only screen and (max-width: 640px) {
  .intro__counter {
    top: 59vw;
    left: 44vw;
    width: 39vw;
    overflow: hidden;
  }
}

@media only screen and (max-width: 320px) {
  .intro__counter {
    width: 140px;
    top: 67vw;
    left: 44vw;
  }
}

.intro__count {
  margin-bottom: 5px;
}

@media only screen and (max-width: 320px) {
  .intro__count {
    margin-bottom: -7px;
  }
}

.intro__current {
  color: #FEFEFE;
}

.intro__total {
  color: #BDBDBD;
}

.intro__range {
  -webkit-appearance: none;
  background: rgba(189, 189, 189, 0.57);
}

.intro__range:focus {
  outline: none;
}

.intro__range::-webkit-slider-thumb {
  background: #FEFEFE;
}

@media only screen and (max-width: 320px) {
  .intro__range::-webkit-slider-thumb {
    width: 17px;
  }
}

.intro__range::-moz-range-thumb {
  background: #FEFEFE;
}

@media only screen and (max-width: 320px) {
  .intro__range::-moz-range-thumb {
    width: 17px;
  }
}

@media only screen and (max-width: 320px) {
  .intro__range {
    width: 140px;
  }
}

.intro__social-networks {
  position: absolute;
  top: 722px;
  left: 152px;
}

.intro__social-networks .social-networks__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__social-networks .social-networks__item {
  margin-bottom: 12px;
}

@media only screen and (max-width: 1200px) {
  .intro__social-networks {
    top: 747px;
    left: 12.5vw;
  }
}

@media only screen and (max-width: 640px) {
  .intro__social-networks {
    left: 20px;
    top: 726px;
  }
}

@media only screen and (max-width: 320px) {
  .intro__social-networks {
    display: none;
  }
}

/* intro style end*/
/* how_it_works start*/
.how-it-works {
  /* how-it-works counter start */
  /* how-it-works counter end */
}

.how-it-works__content {
  max-width: 790px;
  margin: 100px auto;
}

@media only screen and (max-width: 1200px) {
  .how-it-works__content {
    max-width: 746px;
    margin: 100px 19vw;
  }
}

@media only screen and (max-width: 640px) {
  .how-it-works__content {
    max-width: 600px;
    margin: 100px 20px;
  }
}

@media only screen and (max-width: 320px) {
  .how-it-works__content {
    margin: 50px 10px;
    max-width: 300px;
  }
}

.how-it-works__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin-bottom: 30px;
}

@media only screen and (max-width: 320px) {
  .how-it-works__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }
}

.how-it-works__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  .how-it-works__text {
    margin-bottom: 14px;
  }
}

@media only screen and (max-width: 640px) {
  .how-it-works__text {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .how-it-works__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.how-it-works__slider-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media only screen and (max-width: 640px) {
  .how-it-works__slider-wrapper {
    max-width: 600px;
  }
}

@media only screen and (max-width: 320px) {
  .how-it-works__slider-wrapper {
    margin-bottom: 13px;
  }
}

.how-it-works__slider-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-it-works__slider-counter {
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 320px) {
  .how-it-works__slider-counter {
    margin-bottom: 20px;
  }
}

.how-it-works__slide {
  min-width: 100%;
}

.how-it-works__slide-img {
  height: 323px;
}

@media only screen and (max-width: 640px) {
  .how-it-works__slide-img {
    max-width: initial;
    width: initial;
  }
}

@media only screen and (max-width: 320px) {
  .how-it-works__slide-img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media only screen and (max-width: 320px) {
  .how-it-works__counter {
    margin-bottom: 20px;
  }
}

.how-it-works__count {
  margin-bottom: 7px;
}

.how-it-works__range::-webkit-slider-thumb {
  width: 62px;
  height: 10px;
}

.how-it-works__range::-moz-range-thumb {
  width: 62px;
  height: 10px;
}

@media only screen and (max-width: 1200px) {
  .how-it-works__range::-webkit-slider-thumb {
    width: 80px;
  }
  .how-it-works__range::-moz-range-thumb {
    width: 80px;
  }
}

.how-it-works__button {
  margin: 0 auto;
}

/* how_it_works end*/
/* inspiring start */
.inspiring {
  background: #F2F2F2;
}

.inspiring__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  padding: 100px 360px 132px 360px;
}

.inspiring__card {
  grid-column: span 1;
}

.inspiring__card-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.inspiring__card-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  margin-bottom: 15px;
}

.inspiring__card-descr {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.1px;
}

/* inspiring end */
/* pets_in_Zoo start*/
.pets-in-zoo__wrapper {
  padding: 100px 0;
}

.pets-in-zoo__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin-bottom: 35px;
}

.pets-in-zoo__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.pets-in-zoo__slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
}

.pets-in-zoo__slider-inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pets-in-zoo__slider-left-arrow {
  margin-right: 20px;
}

.pets-in-zoo__slider-left-arrow:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.pets-in-zoo__slider-right-arrow {
  margin-left: 20px;
}

.pets-in-zoo__slider-right-arrow:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.pets-in-zoo__slider-counter {
  text-align: center;
  margin-bottom: 30px;
}

.pets-in-zoo__slide {
  position: relative;
  margin-right: 30px;
}

.pets-in-zoo__slide:last-child {
  margin-right: 0px;
}

.pets-in-zoo__slide--active .pets-in-zoo__info {
  opacity: 1;
  bottom: 46px;
  left: 22px;
}

.pets-in-zoo__slide:hover .pets-in-zoo__photo {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.pets-in-zoo__slide:hover .pets-in-zoo__info {
  opacity: 1;
  bottom: 46px;
  left: 22px;
}

.pets-in-zoo__photo {
  min-width: 278px;
}

.pets-in-zoo__info {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 22px;
  width: 194px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.pets-in-zoo__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.pets-in-zoo__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets-in-zoo__watch {
  margin-right: 10px;
}

.pets-in-zoo__button {
  margin: 0 auto;
}

/* pets_in_Zoo end*/
/* pay_and_feed start */
.pay-and-feed {
  background: #F2F2F2;
}

.pay-and-feed__wrapper {
  padding: 100px 0;
  min-width: 1200px;
}

.pay-and-feed__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}

.pay-and-feed__descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 92px;
}

.pay-and-feed__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.pay-and-feed__cards-arrow {
  margin-right: 63px;
  max-width: 106px;
}

.pay-and-feed__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 63px;
  width: 245px;
  height: 245px;
  border: 3px solid #4BD8CB;
  border-radius: 50%;
}

.pay-and-feed__card-pic {
  margin-bottom: 18.11px;
  width: 60px;
  height: 60px;
}

.pay-and-feed__card-title {
  width: 136px;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1px;
}

.pay-and-feed__card:last-child {
  margin-right: 0px;
}

.pay-and-feed__button {
  margin: 0 auto;
}

/* pay_and_feed end */
/* Testimonials start */
.testimonials {
  padding: 100px 0;
}

.testimonials__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin-bottom: 42px;
}

.testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.testimonials__slider-wrapper {
  overflow: hidden;
  max-width: 1230px;
  height: 340px;
}

.testimonials__slider-inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 13px;
}

.testimonials__slider-right-arrow {
  margin-left: 3px;
}

.testimonials__slider-right-arrow:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.testimonials__slider-left-arrow {
  margin-right: 7px;
}

.testimonials__slider-left-arrow:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.testimonials__slider-counter {
  text-align: center;
  margin-bottom: 30px;
}

.testimonials__slide {
  width: 585px;
  height: 310px;
  background: #FEFEFE;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  margin-right: 30px;
}

.testimonials__slide-pic-container {
  width: 68px;
  height: 68px;
  margin: 47px auto 17px auto;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
}

.testimonials__slide-img {
  width: 68px;
  height: 68px;
}

.testimonials__slide-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  margin-bottom: 17px;
}

.testimonials__slide-descr {
  width: 440px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  margin: 0 auto;
}

.testimonials__button {
  margin: 0 auto;
}

/* Testimonials end */
/* map start */
.map {
  background: #F2F2F2;
}

.map__wrapper {
  padding: 100px 0;
}

.map__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}

.map__content {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.map__button {
  margin: 0 auto;
}

/* map end */
/* footer start */
.footer {
  background: #333333;
}

.footer__wrapper {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

@media only screen and (max-width: 639px) {
  .footer__wrapper {
    padding-top: 50px;
    margin: 0 10px;
    -ms-grid-rows: auto;
    -ms-grid-columns: auto;
        grid-template: auto / auto;
        grid-template-areas: 'logo' 'nav' 'contact-us' 'zoo-centre' 'button' 'copyrights';
  }
}

@media only screen and (min-width: 640px) {
  .footer__wrapper {
    padding-top: 96px;
    margin: 0 20px;
    -ms-grid-columns: auto fit-content(191px) auto;
        grid-template-columns: auto fit-content(191px) auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'logo button button'  'nav nav .' 'contact-us contact-us .' 'zoo-centre zoo-centre .' 'copyrights copyrights copyrights';
  }
}

@media only screen and (min-width: 1200px) {
  .footer__wrapper {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto 225px auto auto;
        grid-template-rows: auto 225px auto auto;
    -webkit-column-gap: 76px;
            column-gap: 76px;
    margin: 0 150px;
    padding-top: 100px;
        grid-template-areas: 'logo nav'  'contact-us zoo-centre' 'contact-us button' 'copyrights copyrights';
  }
}

@media only screen and (min-width: 1900px) {
  .footer__wrapper {
    -ms-grid-rows: auto auto auto;
    -ms-grid-columns: auto auto auto;
        grid-template: auto auto auto / auto auto auto;
        grid-template-areas: 'logo nav button' 'contact-us zoo-centre .' 'copyrights copyrights copyrights';
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

.footer__logo {
  grid-area: logo;
}

.footer__logo .logo__bg {
  background: url("../../../assets/images/global/logo/logo-white.svg") no-repeat center;
}

@media only screen and (max-width: 639px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 640px) {
  .footer__logo {
    margin-bottom: 19px;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__logo {
    margin-bottom: 57px;
    width: 59px;
    height: 54px;
  }
}

.footer__contact-us {
  grid-area: contact-us;
}

@media only screen and (max-width: 639px) {
  .footer__contact-us {
    width: 100%;
    margin-bottom: 54px;
  }
}

@media only screen and (min-width: 640px) {
  .footer__contact-us {
    margin-bottom: 77px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__contact-us {
    width: 383px;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__contact-us {
    margin-bottom: 60px;
    margin-right: 441px;
  }
}

.footer__nav {
  grid-area: nav;
  padding-top: 17px;
}

@media only screen and (max-width: 639px) {
  .footer__nav {
    margin-bottom: 47px;
  }
  .footer__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 640px) {
  .footer__nav {
    margin-bottom: 55px;
  }
  .footer__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__nav .nav__list {
    width: 440px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__nav .nav__item {
    margin-right: 164px;
  }
  .footer__nav .nav__item:last-child {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__nav {
    margin-right: 112px;
    margin-bottom: 74px;
  }
  .footer__nav .nav__list {
    max-width: 404px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__nav .nav__item {
    max-width: 404px;
    margin-right: 73px;
  }
  .footer__nav .nav__item:last-child {
    margin-right: 0px;
  }
}

.footer__nav .nav__item:last-child {
  margin-right: 0px;
}

.footer__nav .nav__item .active {
  text-decoration: underline;
  font-weight: 900;
}

.footer__zoo-centre {
  grid-area: zoo-centre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 639px) {
  .footer__zoo-centre {
    margin-bottom: 46px;
  }
}

@media only screen and (min-width: 640px) {
  .footer__zoo-centre {
    margin-bottom: 71px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__zoo-centre {
    margin-bottom: 40px;
  }
}

.footer__button {
  grid-area: button;
  width: 275px;
}

@media only screen and (max-width: 639px) {
  .footer__button {
    margin-bottom: 80px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (min-width: 640px) {
  .footer__button {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__button {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__button {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer__copyrights {
  grid-area: copyrights;
  border-top: 0.5px solid #FEFEFE;
}

@media only screen and (max-width: 639px) {
  .footer__copyrights .copyrights__body {
    padding: 28px 0;
  }
}

@media only screen and (min-width: 640px) {
  .footer__copyrights .copyrights__body {
    padding: 28px 0 48px 0;
  }
}

@media only screen and (min-width: 1900px) {
  .footer__copyrights .copyrights__body {
    padding: 28px 0 66px 0;
  }
}

/* footer end */
/*# sourceMappingURL=landing.css.map */